@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";
.priceDetails {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 0rem 4rem 6rem 4rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  &__content-box {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 2rem;
    &__list-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      &__item {
        color: white;
        background-color: $darkBlue;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 15px;
        font-family: "poppins-500";
      }
    }
  }
  &__svg-image {
    width: auto;
    height: fit-content;
  }
}
@media only screen and (max-width: 1000px) {
  .priceDetails {
    flex-direction: column;
    &__content-box {
      align-items: center;
      width: 100%;
      &__list-box {
        justify-content: center;
        &__item {
          text-align: center;
        }
      }
    }
    &__svg-image {
      width: 80%;
      height: auto;
    }
  }
}
@media only screen and (max-width: 600px) {
  .priceDetails {
    padding: 2rem;
  }
}
