@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
.localization {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 4rem 0 4rem 4rem;
  justify-content: space-between;
  gap: 2rem;
  &__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    &__text {
      color: $darkBlue;
      font-family: 'poppins-500';
    }
  }
  &__svg-image {
    width: 50%;
    height: auto;
  }
}
@media only screen and (max-width: 1000px) {
  .localization {
    flex-direction: column;
    &__content {
      align-items: center;
      width: 100%;
      padding-right: 4rem;
      &__text {
        text-align: center;
      }
    }
    &__svg-image {
      width: 100%;
      height: auto;
    }
  }
}
@media only screen and (max-width: 600px) {
  .localization {
    padding: 2rem 0 2rem 2rem;

    &__content {
      padding-right: 2rem;
    }
  }
}
