@use '../../../../styles/mixin.scss' as mixin;
.box {
  box-sizing: border-box;
  width: 100%;
  padding: 0rem 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  @include mixin.phone700px {
    padding: 2rem;
  }
}
.logo {
  height: 23vh;
  width: auto;
  object-fit: contain;
  height: auto;
  @include mixin.phone700px {
    height: 13vh;
  }
}
