/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/page.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_main__ux7yf {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.page_statues-row__ENsIK {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  background-color: black;
}
.page_statues-row__row-item__mkAqG {
  position: relative;
  width: 32.5%;
}
.page_statues-row__row-item__mkAqG:hover {
  cursor: pointer;
}
.page_statues-row__row-item__mkAqG:hover .page_statues-row__row-item__sticker-box__ZTUhI {
  background-color: rgba(0, 0, 0, 0.4);
}
.page_statues-row__row-item__sticker-box__ZTUhI {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_statues-row__row-item__mkAqG img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1400px) {
  .page_statues-row__ENsIK {
    flex-direction: column;
  }
  .page_statues-row__row-item__mkAqG {
    height: 32.5%;
    width: 100%;
  }
  .page_statues-row__row-item__sticker-box__ZTUhI {
    box-sizing: border-box;
    padding: 5% 20%;
    justify-content: flex-start;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/Gallery/gallery.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Inter";
  src: url(/_next/static/media/Inter-VariableFont_opsz,wght.cc27cf3f.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Inter-Italic";
  src: url(/_next/static/media/Inter-Italic-VariableFont_opsz,wght.dd830f3b.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-100";
  src: url(/_next/static/media/Poppins-Thin.605324f7.ttf);
  font-weight: 100; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-200";
  src: url(/_next/static/media/Poppins-ExtraLight.9102fb84.ttf);
  font-weight: 200; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-300";
  src: url(/_next/static/media/Poppins-Light.8b20023e.ttf);
  font-weight: 300; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-400";
  src: url(/_next/static/media/Poppins-Regular.4b4ebe20.ttf);
  font-weight: 400; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-500";
  src: url(/_next/static/media/Poppins-Medium.a52d0bf0.ttf);
  font-weight: 500; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-600";
  src: url(/_next/static/media/Poppins-SemiBold.98512bf8.ttf);
  font-weight: 600; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-700";
  src: url(/_next/static/media/Poppins-Bold.8001a01b.ttf);
  font-weight: 700; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-800";
  src: url(/_next/static/media/Poppins-ExtraBold.7572a9b5.ttf);
  font-weight: 800; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-900";
  src: url(/_next/static/media/Poppins-Black.a7317f18.ttf);
  font-weight: 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
.gallery_gallery__FSDNS {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.gallery_rowBox__WoXJD {
  box-sizing: border-box;
  background-color: #ff914c;
  padding: 4rem 4rem 8rem 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 575px) {
  .gallery_rowBox__WoXJD {
    padding: 2rem;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/Gallery/GalleryHero/galleryHero.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Inter";
  src: url(/_next/static/media/Inter-VariableFont_opsz,wght.cc27cf3f.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Inter-Italic";
  src: url(/_next/static/media/Inter-Italic-VariableFont_opsz,wght.dd830f3b.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-100";
  src: url(/_next/static/media/Poppins-Thin.605324f7.ttf);
  font-weight: 100; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-200";
  src: url(/_next/static/media/Poppins-ExtraLight.9102fb84.ttf);
  font-weight: 200; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-300";
  src: url(/_next/static/media/Poppins-Light.8b20023e.ttf);
  font-weight: 300; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-400";
  src: url(/_next/static/media/Poppins-Regular.4b4ebe20.ttf);
  font-weight: 400; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-500";
  src: url(/_next/static/media/Poppins-Medium.a52d0bf0.ttf);
  font-weight: 500; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-600";
  src: url(/_next/static/media/Poppins-SemiBold.98512bf8.ttf);
  font-weight: 600; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-700";
  src: url(/_next/static/media/Poppins-Bold.8001a01b.ttf);
  font-weight: 700; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-800";
  src: url(/_next/static/media/Poppins-ExtraBold.7572a9b5.ttf);
  font-weight: 800; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-900";
  src: url(/_next/static/media/Poppins-Black.a7317f18.ttf);
  font-weight: 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
.galleryHero_hero__zOBl2 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.galleryHero_img___RmOy {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.galleryHero_title__XMTi3 {
  position: absolute;
  top: 40%;
  left: 20%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 575px) {
  .galleryHero_title__XMTi3 {
    left: 10%;
    top: 30%;
  }
}

.galleryHero_header__xWW7A {
  font-size: 6rem;
  font-family: "Poppins-700";
  margin: 0;
}
@media only screen and (max-width: 700px) {
  .galleryHero_header__xWW7A {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 575px) {
  .galleryHero_header__xWW7A {
    font-size: 3rem;
  }
}

.galleryHero_strip__X71x4 {
  margin-left: 40%;
}
@media only screen and (max-width: 1250px) {
  .galleryHero_strip__X71x4 {
    margin-left: 50%;
  }
}
@media only screen and (max-width: 700px) {
  .galleryHero_strip__X71x4 {
    margin-left: 0%;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/Ui/Strips/strip.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.strip_box__RFz8c {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 1.5rem;
}
@media only screen and (max-width: 1250px) {
  .strip_box__RFz8c {
    margin-top: 0.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .strip_box__RFz8c {
    align-self: center;
  }
}
@media only screen and (max-width: 800px) {
  .strip_box__RFz8c {
    width: 90%;
    margin-top: 0;
  }
}
@media only screen and (min-width: 800px) {
  .strip_box__RFz8c {
    background-color: transparent !important;
  }
}
@media only screen and (max-width: 500px) {
  .strip_box__RFz8c {
    padding: 0.7rem;
  }
}

.strip_h1Title__toZhd {
  position: relative;
  font-size: 3.2rem;
  font-weight: 800;
  z-index: 4;
  text-align: center;
  margin: 0;
}
@media only screen and (max-width: 1600px) {
  .strip_h1Title__toZhd {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 1250px) {
  .strip_h1Title__toZhd {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .strip_h1Title__toZhd {
    width: 100%;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .strip_h1Title__toZhd {
    font-size: 1.5rem;
  }
}

.strip_h2Title__Z3x_P {
  position: relative;
  font-size: 2.2rem;
  font-weight: 800;
  z-index: 4;
  text-align: center;
  margin: 0;
  padding: 0 1rem;
}
@media only screen and (max-width: 1600px) {
  .strip_h2Title__Z3x_P {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1250px) {
  .strip_h2Title__Z3x_P {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1000px) {
  .strip_h2Title__Z3x_P {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 500px) {
  .strip_h2Title__Z3x_P {
    font-size: 1rem;
  }
}

.strip_h3Title__ICW8N {
  position: relative;
  font-size: 2rem;
  font-weight: 800;
  z-index: 4;
  text-align: center;
  margin: 0;
}
@media only screen and (max-width: 1600px) {
  .strip_h3Title__ICW8N {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1250px) {
  .strip_h3Title__ICW8N {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1000px) {
  .strip_h3Title__ICW8N {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 500px) {
  .strip_h3Title__ICW8N {
    font-size: 0.9rem;
  }
}

.strip_h4Title__3Ddwe {
  position: relative;
  font-size: 1.5rem;
  font-weight: 800;
  z-index: 4;
  text-align: center;
  margin: 0;
}
@media only screen and (max-width: 1600px) {
  .strip_h4Title__3Ddwe {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1250px) {
  .strip_h4Title__3Ddwe {
    font-size: 1rem;
  }
}

.strip_mainScrap__yuyXt {
  position: absolute;
  top: auto;
  left: auto;
  height: min-content;
  width: -webkit-fill-available;
}
@media only screen and (max-width: 800px) {
  .strip_mainScrap__yuyXt {
    display: none;
  }
}

.strip_scrapLeft__hOAtX {
  display: none;
  position: absolute;
  left: -17px;
  height: -webkit-fill-available;
  width: auto;
  top: 0;
}
@media only screen and (max-width: 800px) {
  .strip_scrapLeft__hOAtX {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
  .strip_scrapLeft__hOAtX {
    left: -12px;
  }
}

.strip_scrapRight__Gz_F5 {
  display: none;
  position: absolute;
  right: -17px;
  height: -webkit-fill-available;
  width: auto;
  top: 0;
}
@media only screen and (max-width: 800px) {
  .strip_scrapRight__Gz_F5 {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
  .strip_scrapRight__Gz_F5 {
    right: -12px;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/Gallery/GalleryLinkPhoto/galleryLinkPhoto.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.galleryLinkPhoto_container__b_VrU {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  gap: 0.5rem;
}
@media only screen and (max-width: 575px) {
  .galleryLinkPhoto_container__b_VrU {
    width: 300px;
  }
}
.galleryLinkPhoto_container__b_VrU:hover {
  cursor: pointer;
}
.galleryLinkPhoto_container__b_VrU:hover .galleryLinkPhoto_header__YG3FC {
  color: #ff914c !important;
}

.galleryLinkPhoto_imageBox__mc0Rm {
  position: relative;
  width: 500px;
  height: 350px;
}
@media only screen and (max-width: 575px) {
  .galleryLinkPhoto_imageBox__mc0Rm {
    width: 300px;
    height: 200px;
  }
}

.galleryLinkPhoto_title__NezZO {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 4rem;
  width: 80%;
}
@media only screen and (max-width: 575px) {
  .galleryLinkPhoto_title__NezZO {
    width: 80%;
  }
}

.galleryLinkPhoto_header__YG3FC {
  margin: 0;
  position: relative;
  font-size: 1.1rem;
  font-weight: 800;
  z-index: 4;
  text-align: center;
  color: #ff914c;
  transition: color 0.5s;
}
@media only screen and (max-width: 575px) {
  .galleryLinkPhoto_header__YG3FC {
    font-size: 1rem;
  }
}

.galleryLinkPhoto_scrapLeft__Q8BcT {
  display: block;
  position: absolute;
  left: -19px;
  height: 100%;
  top: 0;
}
.galleryLinkPhoto_scrapLeft__Q8BcT svg path {
  fill: red;
}

.galleryLinkPhoto_scrapRight__59Coo {
  display: block;
  position: absolute;
  right: -19px;
  height: 100%;
  top: 0;
}
