@use '../../../styles/mixin.scss' as mixin;
@import '../../../styles/fonts.scss';
.titleStripDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 3rem;
  @include mixin.phone700px {
    width: 100%;
    gap: 1rem;
  }
  // @include mixin.phone575px{
  //   width: 300px;
  // }
}
.paragraphBox {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 220px;
  border-radius: 30px;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  font-family: 'poppins-400';
  @include mixin.phone500px {
    font-size: 0.8rem;
  }
}
