@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
.boss {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 2rem 0rem 2rem 4rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  &__content {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    &__header-box {
      display: flex;
      flex-direction: column;
      &__text-box {
        display: flex;
        flex-direction: column;
        &__header {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 2rem;
          padding-bottom: 1rem;
        }
      }
    }
  }
  &__image {
    object-fit: cover;
    object-position: left;
    height: auto;
    width: 40%;
  }
  &__logo {
    display: flex;
  }
  &__logo-mobile {
    display: none;
  }
  &__image-mobile {
    object-fit: cover;
    object-position: left;
    height: auto;
    width: 40%;
    display: none;
    align-self: flex-end;
  }
  h2 {
    color: rgba(255, 255, 255, 0.41);
    font-family: 'poppins-700';
    font-size: 6rem;
    margin: 0;
  }
  h3 {
    color: rgba(255, 255, 255, 0.41);
    font-family: 'poppins-700';
    font-size: 3rem;
    margin: 0;
    padding-bottom: 1rem;
  }
  span {
    color: white;
    font-size: 1rem;
    font-family: 'poppins-400';
    font-weight: 400;
  }
}
@media only screen and (max-width: 1200px) {
  .boss {
    gap: 1rem;
    h2 {
      font-size: 4rem;
      padding-bottom: 0;
    }
    h3 {
      font-size: 2rem;
      padding-bottom: 0;
    }
    span {
      font-size: 0.8rem;
    }
  }
}
@media only screen and (max-width: 900px) {
  .boss {
    flex-direction: column;
    padding: 2rem 0rem 2rem 1rem;
    &__content {
      width: 100%;
      &__header-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
    &__logo {
      display: none;
    }
    &__logo-mobile {
      display: flex;
      margin-top: 1rem;
      align-self: center;
    }
    &__image {
      display: none;
    }
    &__image-mobile {
      display: flex;
    }
    h2 {
      font-size: 3rem;
      padding-bottom: 0;
    }
    h3 {
      font-size: 1.2rem;
      padding-bottom: 0;
    }
    span {
      font-size: 0.8rem;
      padding-right: 1rem;
    }
  }
}
@media only screen and (max-width: 520px) {
  .boss {
    h2 {
      font-size: 2rem;
    }
    span {
      text-align: center;
      font-size: 0.7rem;
    }
    &__logo-mobile {
      width: 70px;
      height: auto;
      align-self: flex-start;
    }
  }
}
