@use '../../../styles/colors.scss' as colors;
@use '../../../styles/mixin.scss' as mixin;
@import '../../../styles/fonts.scss';
.pointSection {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: colors.$lightBlue;
  padding: 4rem;
  gap: 3rem;
 @include mixin.phone700px{
  padding: 2rem;
 }
 @include mixin.phone500px{
  padding: 1rem;
 }
}
.title {
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.17);
  font-family: 'Poppins-700';
  @include mixin.pc1250px{
    font-size: 2.5rem;
  }
  @include mixin.phone700px{
    font-size: 2rem;
  }
}
.rowBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 @include mixin.pc1250px{
  flex-direction: column;
  gap: 2rem;
  }
}
.image {
  width: 30%;
  height: auto;
  display: flex;
  align-self: flex-start;
  @include mixin.pc1250px{
    align-self: center;
      width: 40%;
  }
  @include mixin.phone500px{
    width: 50%;
   }
}
.text {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 2rem;
  @include mixin.pc1250px{
    width: 100%;
  }
  
}
.textBox {
  display: flex;
  position: relative;
  font-size: 0.9rem;
  border: 1px solid white;
  padding: 1rem 1rem;
  min-width: 400px;
  width: fit-content;
  border-radius: 10px;
  height: fit-content;
  @include mixin.phone700px{
    min-width: 300px;
  }
  @include mixin.phone500px{
    min-width: 250px;
   }
  ul {
    margin: 0;
  }
  li {
    margin: 0.3rem 0;
  }
  .title {
    position: absolute;
    display: block;
    height: auto;
    background-color: colors.$lightBlue;
    padding: 0 0.5rem;
    top: -10px;
    left: 5%;
    width: fit-content;
    max-width: 80%;
    color: colors.$basicOrange;
    font-size: 1rem;
    font-weight: 600;
    @include mixin.phone700px{
      font-size: 0.8rem;
    }
    @include mixin.phone500px{
      font-size: 0.6rem;
     }
  }
}

  .poolNecessaryItemsrowBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    .poolNecessaryItemsitem {
      display: flex;
      flex-direction: column;
      width: 250px;
      height: 250px;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      @include mixin.pc1250px{
        width: 150px;
        height: 150px; 
      }
      .poolNecessaryItemsimage {
        width: 200px;
        height: 200px;
        @include mixin.pc1250px{
          width: 100px;
      height: 100px; 
        }
      }
      .poolNecessaryItemstitle {
        color: white;
        text-align: center;
        font-weight: 600;
      }
    }
  }


