@use '../../../../styles/mixin.scss' as mixin;
.poolNecessaryItems {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  padding: 4rem;
  gap: 4rem;
  @include mixin.phone700px {
    padding: 2rem;
  }
}
.rowBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
.itemCol {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  @include mixin.pc1250px {
    width: 150px;
    height: 150px;
  }
}
.image {
  width: 200px;
  height: 200px;
  @include mixin.pc1250px {
    width: 100px;
    height: 100px;
  }
}
.title {
  color: white;
  text-align: center;
  font-weight: 600;
}
