.box {
  position: relative;
  align-items: center;
  justify-content: center;
  h4 {
    position: relative;
    font-size: 1.5rem;
    font-weight: 800;
    z-index: 4;
    text-align: center;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 1600px) {
  .box h4 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 700px) {
  .box {
    width: 100%;
    h4 {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    svg {
      display: none;
    }
  }
}
