.box {
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
  width: fit-content;
  &__title {
    position: relative;
    font-size: 1.2rem;
    font-weight: 800;
    z-index: 4;
    text-align: center;
  }
  &__mainScrap {
    position: absolute;
    top: -10px;
    left: 0;
    height: 170%;
    width: 100%;
  }
  &__scrap-left {
    display: none;
    position: absolute;
    left: -15px;
    height: 100%;
    top: 0;
  }
  &__scrap-right {
    display: none;
    position: absolute;
    right: -15px;
    height: 100%;
    top: 0;
  }
}
@media only screen and (max-width: 1600px) {
  .box__title {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 800px) {
  .box {
    width: 100%;
    &__title {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    &__mainScrap {
      display: none;
    }
    &__scrap-left {
      display: block;
    }
    &__scrap-right {
      display: block;
    }
  }
}
@media only screen and (max-width: 500px) {
  .box__title {
    font-size: 1rem;
  }
}
