@use '../../../../styles/colors.scss' as colors;
@use '../../../../styles/mixin.scss' as mixin;
@keyframes show {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 112% 100%;
  }
}
@keyframes hide {
  from {
    background-size: 112% 100%;
  }
  to {
    background-size: 0% 100%;
    display: none;
  }
}
@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hideContent {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.navigationHide{
  animation-name: hide !important;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: alternate;
  overflow: hidden;
}
.navigationHideContent {
  animation-name: hideContent !important;
  animation-duration: 0.2s !important;
  animation-delay: 0s !important;
}
.navigation {
  opacity: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('/assets/ui/nav-background.png');
  background-position: right;
  background-repeat: no-repeat;
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: alternate;
  overflow: hidden;
  
}
.topBox {
  box-sizing: border-box;
  width: 100%;
  height: 10vh;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  animation-name: showContent;
  animation-delay: 0.8s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: alternate;
  @include mixin.phone700px{
    justify-content: flex-end;
    padding-right: 0;
  }
}
.logo{
  height: 100px;
  width: auto;
  @include mixin.phone700px{
    display: none !important;
  }
}
.bottomBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
  animation-name: showContent;
  animation-delay: 0.8s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: alternate;
 @include mixin.pc1100px{
  justify-content: center;
 }
}
.box20w {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 80vh;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.3rem;
  @include mixin.pc1100px{
    display: none;
   }
&:nth-of-type(1) {
  @include mixin.pc1520px{
    width: 10%;
  }
}
&:nth-of-type(3) {
  @include mixin.pc1520px{
    width: 30%;
  }
}
}
.contactBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  align-items: flex-end;
  font-weight: 600;
  font-size: 0.7rem;
  
}
.icon {
  width: 30px;
  height: 30px;
}
.box80w {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  @include mixin.pc1520px{
    width: 60%;
  }
  @include mixin.pc1100px{
    align-items: center;
      width: 80%;
   }
   @include mixin.phone700px{
    width: 100%;
  }
  ul {
    list-style-type: none;
    padding: 0;
    @include mixin.pc1100px{
      width: 100%;
     }
    li {
      padding: 1rem 0;
      border-bottom: 3px solid #669ad7;
      a,
      a:visited,
      a:hover,
      a:active {
        color: inherit;
        text-decoration: none;
      }
      @include mixin.phone500px{
        padding: 0.5rem 0;
      }
    }
  }
  
}
.nav {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0.3rem;
  font-weight: 600;
  transition: background-color 1s;
  @include mixin.pc1100px{
    font-size: 1.2rem;
  }
  @include mixin.phone500px{
    font-size: 0.7rem;
  }
  &:hover {
    color: colors.$mediumBlue;
    background-color: white;
    cursor: pointer;
  }
  
}
.location {
  margin-left: 1rem;
  color: #669ad7;
  @include mixin.phone500px{
    margin-left: 0.5rem;
  }
}
