@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
.activenow-table-name {
  font-size: 0.7rem;
}
.schedule {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 6rem 2rem 4rem 2rem;
  gap: 3rem;
  background-color: $lightBlue;
  h2 {
    font-size: 3rem;
    font-family: "poppins-700";
  }
  &__table {
    width: 100%;
    font-size: 0.7rem !important;
  }
  button {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 2rem !important;
    color: white;
    background-color: $basicOrange;
    border: 0;
    border-radius: 40px;
    gap: 1rem;
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
      background-color: green;
    }
  }
}
@media only screen and (max-width: 500px) {
  .schedule {
    padding: 6rem 0.5rem 4rem 0.5rem;
    h2 {
      font-size: 1rem;
    }
  }
}
