@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
.food {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 4rem;
  justify-content: space-between;
  gap: 2rem;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    &__text {
      color: $darkBlue;
      font-family: 'poppins-500';
    }
  }
  &__svg-image {
    width: auto;
    height: fit-content;
  }
}
@media only screen and (max-width: 1000px) {
  .food {
    flex-direction: column;
    align-items: center;
    &__content {
      align-items: center;
      width: 100%;
      &__text {
        text-align: center;
      }
    }
    &__svg-image {
      width: 80%;
      height: auto;
    }
  }
}
@media only screen and (max-width: 600px) {
  .food {
    padding: 2rem;
  }
}
