@import "../../../styles/fonts.scss";
.text {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 50px;
  width: 70%;
  height: 100%;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.17);
  font-family: "Poppins-700";
  text-align: end;
}
