@use '../../../../styles/mixin.scss' as mixin;
.mountainsTrees {
  display: flex;
  height: auto;
  align-items: center;
  img {
    width: 100%;
    @include mixin.phone700px {
      height: 200px;
    }
    @include mixin.phone500px {
      height: 150px;
    }
  }
}
