@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
.galleryPhotos {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $basicOrange;
  padding: 15vh 1rem;
  justify-content: center;
  align-items: center;
  &__row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    &__custom-portrait {
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
      flex-direction: column;
      border-radius: 15px;
      //   background-color: #ffffff73;
      background: $darkBlue;
      height: 692px;
      width: 600px;
      padding: 4rem;
      &__title {
        font-size: 2.6rem;
        color: black;
        font-family: "poppins-700";
        margin: 0;
        text-align: center;
      }
    }
    &__column {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      //   height: 692px;
    }
  }
  &__landscape {
    position: relative;
    width: 600px;
    height: 338px;
    border-radius: 15px;
    img {
      object-fit: cover;
      width: 600px;
      height: 338px;
      border-radius: 15px;
    }
  }
  &__portrait {
    position: relative;
    width: 600px;
    height: 692px;

    border-radius: 15px;
    img {
      object-fit: cover;
      width: 600px;
      height: 692px;
      border-radius: 15px;
    }
  }
}
@media only screen and (max-width: 700px) {
  .galleryPhotos__row-container__custom-portrait {
    width: 460px;
    height: 520px;
    &__title {
      font-size: 2rem;
    }
  }
  .galleryPhotos__landscape {
    width: 460px;
    height: 278px;
    img {
      width: 460px;
      height: 278px;
    }
  }
  .galleryPhotos__portrait {
    width: 460px;
    height: 520px;
    img {
      width: 460px;
      height: 520px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .galleryPhotos__row-container__custom-portrait {
    padding: 1rem;
    width: 300px;
    height: 360px;
    &__title {
      font-size: 1.2rem;
    }
  }
  .galleryPhotos__landscape {
    width: 300px;
    height: 198px;
    img {
      width: 300px;
      height: 198px;
    }
  }
  .galleryPhotos__portrait {
    width: 300px;
    height: 360px;
    img {
      width: 300px;
      height: 360px;
    }
  }
}
