@use '../../../styles/mixin.scss' as mixin;
@import '../../../styles/fonts.scss';
.signInCamps {
  box-sizing: border-box;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  z-index: 2;
  gap: 2rem;
  @include mixin.phone700px {
    padding: 2rem;
  }
  @include mixin.phone500px {
    padding: 2rem 1rem;
  }
}
.headerBox {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  @include mixin.phone800px {
    flex-direction: column;
  }
}
.logo {
  width: 20%;
  @include mixin.phone800px {
    width: 70%;
  }
  @include mixin.phone575px {
    width: 300px;
  }
}
.rowBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.waiting {
  text-align: center;
  font-family: 'poppins-700';
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.27);
  @include mixin.pc1100px {
    font-size: 4rem;
  }
  @include mixin.phone575px {
    font-size: 2rem;
  }
}
