.lessonType {
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 6rem 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  &__opacity {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
  &__content {
    z-index: 3;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    justify-content: flex-start;
    width: 30%;
  }
}
@media only screen and (max-width: 1200px) {
  .lessonType__content {
    width: 60%;
  }
}
@media only screen and (max-width: 700px) {
  .lessonType__content {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .lessonType__content {
    padding: 2rem;
  }
}
