@use '../../../../styles/mixin.scss' as mixin;
@use '../../../../styles/colors.scss' as colors;
.poolTutorial {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  position: relative;
  align-items: center;
  @include mixin.phone700px {
    padding: 1rem;
  }
}
.rowBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  @include mixin.pc1100px {
    justify-content: flex-start;
  }
  @include mixin.phone700px {
    flex-direction: column;
  }
}
.circle {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: colors.$basicOrange;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  padding: 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  @include mixin.pc1450px {
    width: 160px;
    height: 160px;
    font-size: 0.62rem;
  }
  @include mixin.phone700px {
    width: 200px;
    height: 200px;
    font-size: 0.8rem;
  }
  &:nth-of-type(2n) {
    background-color: white;
    border: 2px solid colors.$basicOrange;
    color: colors.$basicOrange;
  }
}
.arrow {
  width: 100px;
  height: 100px;
  @include mixin.pc1450px {
    width: 50px;
    height: 50px;
  }
  @include mixin.phone700px {
    transform: rotate(90deg);
  }
}
