@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";
.surroundings {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 4rem 0;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-end;
  &__content {
    box-sizing: border-box;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
    h2 {
      margin: 0;
    }
    &__list {
      color: $darkBlue;
      font-family: "poppins-500";
      margin: 0;
      padding: 0;
      li {
        margin-left: 25px;
      }
    }
    &__text {
      color: $darkBlue;
      font-family: "poppins-600";
    }
  }
  &__svg-image {
    width: 30%;
    height: max-content;
  }
}
@media only screen and (max-width: 1000px) {
  .surroundings {
    flex-direction: column;
    align-items: center;
    &__content {
      align-items: center;
      width: 100%;
      &__list {
        text-align: center;
        list-style-type: none;
      }
      &__text {
        text-align: center;
      }
    }
    &__svg-image {
      width: 100%;
      height: auto;
    }
  }
}
@media only screen and (max-width: 600px) {
  .surroundings {
    padding: 2rem 0;
    &__content {
      padding: 0 2rem;
    }
  }
}
