@use '../../../styles/colors.scss' as colors;
@use '../../../styles/mixin.scss' as mixin;
@import '../../../styles/fonts.scss';
.linkButton {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.7rem 1.3rem;
  color: white;
  border: 0;
  border-radius: 25px;
  gap: 0.5rem;
  background-color: colors.$basicOrange;
  transition: all 0.5s;
  border: 2px solid colors.$basicOrange;
  font-family: 'Inter';
  @include mixin.phone700px {
    font-size: 0.7rem;
    font-weight: 500;
  }
  svg {
    width: 20px;
    height: 20px;
    @include mixin.phone700px {
      width: 15px;
      height: 15px;
    }
    path {
      fill: white;
    }
  }
  &:hover {
    border: 2px solid colors.$basicOrange;
    background-color: white;
    color: colors.$basicOrange;
    cursor: pointer;
    svg {
      path {
        fill: colors.$basicOrange;
      }
    }
  }
}
.signInButton {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.7rem 1.3rem;
  color: colors.$darkBlue !important;
  border: 0;
  border-radius: 40px;
  gap: 0.5rem;
  z-index: 1;
  background-color: white;
  transition: all 0.5s;
  font-family: 'Inter';
  @include mixin.phone700px {
    font-size: 0.7rem;
    font-weight: 500;
  }
  svg {
    width: 20px;
    height: 20px;
    @include mixin.phone700px {
      width: 15px;
      height: 15px;
    }
    path {
      fill: colors.$darkBlue;
    }
  }
  &:hover {
    cursor: pointer;
    background-color: colors.$basicOrange;
    svg {
      path {
        fill: colors.$darkBlue;
      }
    }
  }
}
.navBtn {
  width: 80px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: white;
  border: 0;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}
.xBtn {
  border: 0;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}
.prevPhotoButton,
.nextPhotoButton {
  background-color: transparent;
  border: 0;
  svg {
    width: 100px;
    height: auto;
    path {
      fill: colors.$basicOrange;
    }
  }

  &:hover {
    cursor: pointer;
    svg {
      path {
        fill: white;
      }
    }
  }
}
.xPhotoButton {
  position: absolute;
  top: -49px;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'poppins-600';
  font-size: 1.2rem;
  color: white;
  background-color: colors.$basicOrange;
  border: 0;
  padding: 0.2rem 0.5rem 0.2rem 7rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  transition: all 0.5s;
  svg {
    path {
      fill: white;
    }
  }
  &:hover {
    cursor: pointer;
    color: colors.$basicOrange;
    background-color: white;
    svg {
      path {
        fill: colors.$basicOrange;
      }
    }
  }
}
