/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/page.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_main__ux7yf {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.page_statues-row__ENsIK {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  background-color: black;
}
.page_statues-row__row-item__mkAqG {
  position: relative;
  width: 32.5%;
}
.page_statues-row__row-item__mkAqG:hover {
  cursor: pointer;
}
.page_statues-row__row-item__mkAqG:hover .page_statues-row__row-item__sticker-box__ZTUhI {
  background-color: rgba(0, 0, 0, 0.4);
}
.page_statues-row__row-item__sticker-box__ZTUhI {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_statues-row__row-item__mkAqG img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1400px) {
  .page_statues-row__ENsIK {
    flex-direction: column;
  }
  .page_statues-row__row-item__mkAqG {
    height: 32.5%;
    width: 100%;
  }
  .page_statues-row__row-item__sticker-box__ZTUhI {
    box-sizing: border-box;
    padding: 5% 20%;
    justify-content: flex-start;
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/PoradnikBasenowy/Hero/hero.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.hero_hero__1hxo7 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #1058e2;
  height: 100vh;
  padding: 10vh 4rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
@media only screen and (max-width: 700px) {
  .hero_hero__1hxo7 {
    padding: 5vh 2rem;
  }
}

.hero_list__HWkDY {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: center;
  align-items: center;
  padding: 3.2rem 1rem;
  border: 5px solid white;
  border-radius: 15px;
}
@media only screen and (max-width: 1520px) {
  .hero_list__HWkDY {
    width: 70%;
  }
}
@media only screen and (max-width: 1000px) {
  .hero_list__HWkDY {
    border-width: 3px;
  }
}
@media only screen and (max-width: 700px) {
  .hero_list__HWkDY {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .hero_list__HWkDY {
    border-width: 2px;
  }
}

.hero_item__sjhzA {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding: 1rem 1rem;
  height: 4.2rem;
  border-bottom: 5px solid #3873e7;
}
@media only screen and (max-width: 1000px) {
  .hero_item__sjhzA {
    font-size: 1.5rem;
    border-width: 3px;
  }
}
@media only screen and (max-width: 500px) {
  .hero_item__sjhzA {
    border-width: 2px;
  }
}

.hero_logo__3vKKf {
  width: 35%;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 1520px) {
  .hero_logo__3vKKf {
    width: 40%;
  }
}
@media only screen and (max-width: 700px) {
  .hero_logo__3vKKf {
    width: 70%;
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/PoradnikBasenowy/List/list.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.list_list__YtfKK {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1058e2;
}
.list_list__YtfKK ul {
  list-style-type: none;
  min-width: 50%;
  border: 3px solid #3873e7;
  padding: 2rem;
}
@media only screen and (max-width: 700px) {
  .list_list__YtfKK ul {
    border: none;
  }
}
.list_list__YtfKK ul li {
  box-sizing: border-box;
  font-size: 1rem;
  color: #bcd0f6;
  font-weight: 600;
  border-bottom: 2px solid #3873e7;
  padding: 0.5rem 0rem 0.3rem 2rem;
  transition: background-color 1s;
  text-transform: uppercase;
}
@media only screen and (max-width: 700px) {
  .list_list__YtfKK ul li {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 500px) {
  .list_list__YtfKK ul li {
    font-size: 0.7rem;
  }
}
.list_list__YtfKK ul li:hover {
  cursor: pointer;
  background-color: white;
  color: #1058e2;
}

.list_header__VFtzh {
  font-size: 1.5rem !important;
  padding-left: 0rem !important;
  color: white !important;
  font-weight: 700 !important;
}
@media only screen and (max-width: 700px) {
  .list_header__VFtzh {
    font-size: 1.3rem !important;
  }
}
@media only screen and (max-width: 500px) {
  .list_header__VFtzh {
    font-size: 1rem !important;
  }
}
.list_header__VFtzh:hover {
  cursor: pointer;
  background-color: white;
  color: #1058e2 !important;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/PoradnikBasenowy/PointsSections/pointSection.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Inter";
  src: url(/_next/static/media/Inter-VariableFont_opsz,wght.cc27cf3f.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Inter-Italic";
  src: url(/_next/static/media/Inter-Italic-VariableFont_opsz,wght.dd830f3b.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-100";
  src: url(/_next/static/media/Poppins-Thin.605324f7.ttf);
  font-weight: 100; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-200";
  src: url(/_next/static/media/Poppins-ExtraLight.9102fb84.ttf);
  font-weight: 200; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-300";
  src: url(/_next/static/media/Poppins-Light.8b20023e.ttf);
  font-weight: 300; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-400";
  src: url(/_next/static/media/Poppins-Regular.4b4ebe20.ttf);
  font-weight: 400; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-500";
  src: url(/_next/static/media/Poppins-Medium.a52d0bf0.ttf);
  font-weight: 500; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-600";
  src: url(/_next/static/media/Poppins-SemiBold.98512bf8.ttf);
  font-weight: 600; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-700";
  src: url(/_next/static/media/Poppins-Bold.8001a01b.ttf);
  font-weight: 700; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-800";
  src: url(/_next/static/media/Poppins-ExtraBold.7572a9b5.ttf);
  font-weight: 800; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-900";
  src: url(/_next/static/media/Poppins-Black.a7317f18.ttf);
  font-weight: 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
.pointSection_pointSection__MOCz8 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #1058e2;
  padding: 4rem;
  gap: 3rem;
}
@media only screen and (max-width: 700px) {
  .pointSection_pointSection__MOCz8 {
    padding: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .pointSection_pointSection__MOCz8 {
    padding: 1rem;
  }
}

.pointSection_title__dUbFR {
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.17);
  font-family: "Poppins-700";
}
@media only screen and (max-width: 1250px) {
  .pointSection_title__dUbFR {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 700px) {
  .pointSection_title__dUbFR {
    font-size: 2rem;
  }
}

.pointSection_rowBox__QOIe_ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1250px) {
  .pointSection_rowBox__QOIe_ {
    flex-direction: column;
    gap: 2rem;
  }
}

.pointSection_image__byMi3 {
  width: 30%;
  height: auto;
  display: flex;
  align-self: flex-start;
}
@media only screen and (max-width: 1250px) {
  .pointSection_image__byMi3 {
    align-self: center;
    width: 40%;
  }
}
@media only screen and (max-width: 500px) {
  .pointSection_image__byMi3 {
    width: 50%;
  }
}

.pointSection_text__QoDC3 {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 2rem;
}
@media only screen and (max-width: 1250px) {
  .pointSection_text__QoDC3 {
    width: 100%;
  }
}

.pointSection_textBox__EQ_TS {
  display: flex;
  position: relative;
  font-size: 0.9rem;
  border: 1px solid white;
  padding: 1rem 1rem;
  min-width: 400px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 700px) {
  .pointSection_textBox__EQ_TS {
    min-width: 300px;
  }
}
@media only screen and (max-width: 500px) {
  .pointSection_textBox__EQ_TS {
    min-width: 250px;
  }
}
.pointSection_textBox__EQ_TS ul {
  margin: 0;
}
.pointSection_textBox__EQ_TS li {
  margin: 0.3rem 0;
}
.pointSection_textBox__EQ_TS .pointSection_title__dUbFR {
  position: absolute;
  display: block;
  height: auto;
  background-color: #1058e2;
  padding: 0 0.5rem;
  top: -10px;
  left: 5%;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  color: #ff914c;
  font-size: 1rem;
  font-weight: 600;
}
@media only screen and (max-width: 700px) {
  .pointSection_textBox__EQ_TS .pointSection_title__dUbFR {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 500px) {
  .pointSection_textBox__EQ_TS .pointSection_title__dUbFR {
    font-size: 0.6rem;
  }
}

.pointSection_poolNecessaryItemsrowBox__FiEH7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
.pointSection_poolNecessaryItemsrowBox__FiEH7 .pointSection_poolNecessaryItemsitem__58hiw {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1250px) {
  .pointSection_poolNecessaryItemsrowBox__FiEH7 .pointSection_poolNecessaryItemsitem__58hiw {
    width: 150px;
    height: 150px;
  }
}
.pointSection_poolNecessaryItemsrowBox__FiEH7 .pointSection_poolNecessaryItemsitem__58hiw .pointSection_poolNecessaryItemsimage__G8gmm {
  width: 200px;
  height: 200px;
}
@media only screen and (max-width: 1250px) {
  .pointSection_poolNecessaryItemsrowBox__FiEH7 .pointSection_poolNecessaryItemsitem__58hiw .pointSection_poolNecessaryItemsimage__G8gmm {
    width: 100px;
    height: 100px;
  }
}
.pointSection_poolNecessaryItemsrowBox__FiEH7 .pointSection_poolNecessaryItemsitem__58hiw .pointSection_poolNecessaryItemstitle__0RGtz {
  color: white;
  text-align: center;
  font-weight: 600;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/Ui/Bubbles/bubbles.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@keyframes bubbles_moveTop__NMawH {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-70%);
    opacity: 0;
  }
}
.bubbles_bubbles__esr13 {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .bubbles_bubbles__esr13 svg {
    height: 200px;
  }
}
@media only screen and (max-width: 500px) {
  .bubbles_bubbles__esr13 svg {
    height: 150px;
  }
}
.bubbles_bubbles__esr13 svg g {
  display: block;
  animation-name: bubbles_moveTop__NMawH;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(1) {
  animation-delay: 0.1s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(2) {
  animation-delay: 0.2s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(3) {
  animation-delay: 0.3s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(4) {
  animation-delay: 0.4s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(5) {
  animation-delay: 0.5s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(6) {
  animation-delay: 0.6s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(7) {
  animation-delay: 0.7s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(8) {
  animation-delay: 0.8s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(9) {
  animation-delay: 0.9s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(10) {
  animation-delay: 2s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(11) {
  animation-delay: 2.1s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(12) {
  animation-delay: 2.2s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(13) {
  animation-delay: 2.3s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(14) {
  animation-delay: 2.4s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(15) {
  animation-delay: 2.5s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(16) {
  animation-delay: 2.6s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(17) {
  animation-delay: 2.7s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(18) {
  animation-delay: 2.8s;
}
.bubbles_bubbles__esr13 svg g:nth-of-type(19) {
  animation-delay: 2.9s;
}
