.topScrap {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: bottom;
}
.bottomScrap {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  bottom: 0;
  object-fit: cover;
  object-position: top;
}
