.topScraplightBlue {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  top: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapBottomLightBlue.svg');
}
.topScrapmediumBlue {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  top: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapBottomMediumBlue.svg');
}
.topScrapdarkBlue {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  top: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapBottomDarkBlue.svg');
}
.topScrapbasicOrange {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  top: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapBottomBasicOrange.svg');
}
.topScrapbasicBrown {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  top: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapBottomBasicBrown.svg');
}
.topScrapbasicGreen {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  top: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapBottomBasicGreen.svg');
}
.topScrapwhite {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  top: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapBottomWhite.svg');
}
.topScrapwinterIce {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  top: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapBottomWinterIce.svg');
}

.bottomScraplightBlue {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  bottom: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapTopLightBlue.svg');
}
.bottomScrapmediumBlue {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  bottom: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapTopMediumBlue.svg');
}
.bottomScrapdarkBlue {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  bottom: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapTopDarkBlue.svg');
}
.bottomScrapbasicOrange {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  bottom: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapTopBasicOrange.svg');
}
.bottomScrapbasicBrown {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  bottom: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapTopBasicBrown.svg');
}
.bottomScrapbasicGreen {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  bottom: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapTopBasicGreen.svg');
}
.bottomScrapwhite {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  bottom: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapTopWhite.svg');
}
.bottomScrapwinterIce {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
  left: 0;
  bottom: 0;
  background-image: url('../../../public/assets/ui/Scraps/scrapTopWinterIce.svg');
}
