@import "../../../styles/colors.scss";
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: $mediumBlue;
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    height: 100vh;
  }
  &__sticker-box {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 25%;
  }
  &__mobileSticker {
    position: absolute;
    z-index: 3;
    left: 10%;
    top: 30%;
    display: none;
  }
}
@media only screen and (max-width: 810px) {
  .hero__sticker-box {
    left: 20%;
    bottom: 45%;
  }
}
// @media only screen and (max-width: 850px) {
//   .hero__sticker-box {
//     display: none;
//   }
//   .hero__mobileSticker {
//     display: flex;
//   }
// }
