@use '../../../../styles/mixin.scss' as mixin;
.lessonType {
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 6rem 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.opacity {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.content {
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  justify-content: flex-start;
  width: 30%;
  @include mixin.pc1250px {
    width: 60%;
  }
  @include mixin.phone900px {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  @include mixin.phone700px {
    padding: 2rem;
  }
}
