@use '../../../styles/colors.scss' as colors;
@use '../../../styles//mixin.scss' as mixin;
@import '../../../styles/fonts.scss';
.box {
  display: flex;
  flex-direction: column;
  width: 80%;
  z-index: 3;
  gap: 1rem;
  @include mixin.phone900px {
    align-items: center !important;
    width: 100%;
  }
  @include mixin.phone800px {
    text-align: center;
  }
}
.title {
  font-family: 'Poppins-700';
  font-size: 1.4rem;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  color: colors.$mediumBlue;
  @include mixin.pc1000px {
    font-size: 1.5rem;
  }
  @include mixin.phone900px {
    text-align: center !important;
  }
  @include mixin.phone800px {
    font-size: 1.2rem;
    font-family: 'Poppins-400';
  }
  @include mixin.phone500px {
    font-size: 1.1rem;
  }
}
.paragraph {
  @include mixin.phone900px {
    text-align: center !important;
  }
}
