@use '../../../styles/mixin.scss' as mixin;
@import '../../../styles/colors.scss';

.campLayout {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5rem 0;
  height: auto;
  width: 100%;
}
.imageFill {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
.content {
  z-index: 3;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-bottom: 5rem;
}
.rowBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  padding: 0 4rem;
  @include mixin.phone700px {
    padding: 0 2rem;
  }
}
