@use '../../styles/colors.scss' as colors;
@use '../../styles/mixin.scss' as mixin;
@import '../../styles/fonts.scss';

.gallery {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.rowBox {
  box-sizing: border-box;
  background-color: colors.$basicOrange;
  padding: 4rem 4rem 8rem 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  @include mixin.phone575px {
    padding: 2rem;
  }
}
