@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
.groupLvl {
  width: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  &__button {
    display: flex;
    border: 0;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-family: "poppins-600";
    color: $basicOrange;
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
    }
  }
  &__title {
    font-size: 1.3rem;
    font-weight: 700;
    color: $basicOrange;
    font-family: "poppins-700";
    text-align: center;
  }

  ul {
    list-style-type: "\2B50";
    // margin: 0 0 0 20px;
    margin-top: 0;
    padding: 0;
    transition: all 0.5s;
    li {
      font-weight: 500;
      font-size: 1rem;
      font-family: "poppins-400";
      margin: 0.5rem 0;
      padding: 0;
      line-height: 1.4rem;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .groupLvl {
    width: 300px;
  }
}
@media only screen and (max-width: 800px) {
  .groupLvl {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
