@use '../../../styles/colors.scss' as colors;
@use '../../../styles/mixin.scss' as mixin;
.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem 8rem 4rem;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  @include mixin.phone700px {
    padding: 0rem 1rem 6rem 1rem;
    gap: 2rem;
  }
}
.rowBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  height: 70vh;
  @include mixin.pc1250px {
    flex-direction: column-reverse;
    gap: 2rem;
    height: auto;
  }
}
.contentBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  @include mixin.pc1250px {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    a {
      max-width: 60%;
    }
  }
  h4 {
    color: rgba(255, 145, 76, 0.9);
    margin: 0;
    padding-bottom: 1rem;
    font-size: 2rem;
    @include mixin.pc1450px {
      font-size: 1.3rem;
    }
    @include mixin.pc1250px {
      display: none;
    }
  }
}
.bubblesBox {
  width: 60%;
  height: 70vh;
  position: relative;
  @include mixin.pc1250px {
    width: 100%;
    height: 40vh;
  }
}
.insctructorBubble {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;

  border: 4px solid rgba(255, 255, 255, 0.62);
  box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.62);
  background-color: rgba(255, 255, 255, 0.62);
  border-radius: 50%;
}
.bubble1 {
  position: absolute;
  top: 0;
  left: 30%;
  background-image: url('../../../public/assets/instructors/agata_hojol.webp');
  background-size: cover;
  background-position: center;
  width: 340px;
  height: 340px;
  @include mixin.pc1250px {
    width: 240px;
    height: 240px;
    left: 0%;
  }
  @include mixin.phone700px {
    width: 180px;
    height: 180px;
  }
  @include mixin.phone500px {
    width: 40vw;
    height: 40vw;
  }
}
.bubble2 {
  position: absolute;
  top: 0;
  left: 80%;
  background-image: url('../../../public/assets/instructors/kinga_kobaka.webp');
  background-size: cover;
  background-position: center;
  width: 180px;
  height: 180px;
  @include mixin.pc1250px {
    width: 150px;
    height: 150px;
  }
  @include mixin.phone700px {
    width: 120px;
    height: 120px;
    left: 70%;
  }
  @include mixin.phone500px {
    display: none;
  }
}
.bubble3 {
  position: absolute;
  top: 50%;
  left: 15%;
  background-image: url('../../../public/assets/instructors/wiktoria_fryczek.webp');
  background-size: cover;
  background-position: center;
  width: 340px;
  height: 340px;
  @include mixin.pc1250px {
    width: 240px;
    height: 240px;
    top: 30%;
    left: 20%;
  }
  @include mixin.phone700px {
    width: 180px;
    height: 180px;
    top: 50%;
  }
  @include mixin.phone500px {
    width: 40vw;
    height: 40vw;
  }
}
.bubble4 {
  position: absolute;
  top: 45%;
  left: 55%;
  background-image: url('../../../public/assets/instructors/weronika_mika.webp');
  background-size: cover;
  background-position: center;
  width: 340px;
  height: 340px;
  @include mixin.pc1250px {
    width: 240px;
    height: 240px;
    top: 5%;
    left: 45%;
  }
  @include mixin.phone700px {
    width: 180px;
    height: 180px;
    left: 35%;
    top: 0%;
  }
  @include mixin.phone500px {
    left: 50%;
    top: 10%;
    width: 40vw;
    height: 40vw;
  }
}
.bubble5 {
  position: absolute;
  top: 30%;
  left: 85%;
  background-image: url('../../../public/assets/instructors/zofia_gut.webp');
  background-size: cover;
  background-position: center;
  width: 270px;
  height: 270px;
  @include mixin.pc1250px {
    width: 220px;
    height: 220px;
    left: 70%;
  }
  @include mixin.phone700px {
    width: 160px;
    height: 160px;
    left: 60%;
    top: 50%;
  }
  @include mixin.phone500px {
    display: none;
  }
}
