@import "../../../styles/colors.scss";
@keyframes start {
  from {
    scale: 0;
  }
  to {
    transform: scale(1);
  }
}
.instructorsList {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 4rem 4rem 8rem 4rem;

  h2 {
    z-index: 1;
    font-family: "Poppins-700";
    width: 100%;
    color: rgba(255, 255, 255, 0.41);
    font-size: 6rem;
    text-align: center;
  }
  &__row-box {
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  &__popup {
    background-color: $lightBlue;

    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(5, 52, 143, 0.98);
    display: flex;
    flex-direction: row;
    gap: 3rem;
    &__column-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      &__name {
        animation: start;
        animation-duration: 0.5s;
        width: fit-content;
        height: fit-content;
        border: 4px solid rgba(255, 255, 255, 0.62);
        box-shadow: 5px 6px 10px rgba(255, 255, 255, 0.62);
        border-radius: 50px;
        font-size: 2rem;
        color: $basicOrange;
        font-weight: 600;
        padding: 1rem 3rem;
        text-align: center;
      }
    }
    &__bubble {
      animation: start;
      animation-duration: 0.5s;
      position: relative;
      box-sizing: border-box;
      z-index: 11;
      padding: 2.2rem;
      border: 4px solid rgba(255, 255, 255, 0.62);
      box-shadow: 10px 6px 10px rgba(255, 255, 255, 0.62);
      border-radius: 50%;
      align-items: center;
      display: flex;
      justify-content: center;
      font-size: 0.9rem;
      text-align: center;
      color: $basicOrange;
      font-weight: 600;
      img {
        border-radius: 50%;
      }
    }
    &__bubble-about-1 {
      width: 380px;
      height: 380px;
    }
    &__bubble-about-image {
      width: 500px;
      height: 500px;
    }
    &__bubble-about-2 {
      width: 200px;
      height: 200px;
      margin-bottom: 20%;
    }
    &__bubble-random-1 {
      animation-delay: 0.5s;
      &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        top: 10%;
        left: 10%;
        background-color: rgba(255, 255, 255, 0.62);
      }
      width: 100px;
      height: 100px;
      position: absolute !important;
      bottom: 15%;
      right: 15%;
    }
    &__bubble-random-2 {
      animation-delay: 0.5s;
      &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        top: 10%;
        left: 10%;
        background-color: rgba(255, 255, 255, 0.62);
      }
      width: 150px;
      height: 150px;
      position: absolute !important;
      top: 5%;
      right: 40%;
    }
  }
}
@media only screen and (max-width: 1250px) {
  .instructorsList__popup {
    &__column-box {
      gap: 1rem;
      &__name {
        font-size: 1rem;
      }
    }
    &__bubble {
      font-size: 0.8rem;
      font-weight: 600;
    }
    &__bubble-about-1 {
      width: 330px;
      height: 330px;
    }
    &__bubble-about-2 {
      width: 150px;
      height: 150px;
    }
    &__bubble-about-image {
      width: 320px;
      height: 320px;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .instructorsList {
    h2 {
      font-size: 3rem;
    }
  }
  .instructorsList__popup {
    flex-direction: column;
    &__column-box {
      gap: 1rem;
      &__name {
        font-size: 1rem;
      }
    }
    &__bubble {
      font-size: 0.8rem;
    }
    &__bubble-about-1 {
      width: 320px;
      height: 320px;
    }
    &__bubble-about-2 {
      display: none;
    }
    &__bubble-random-1 {
      top: 5%;
      left: 5%;
    }
    &__bubble-random-2 {
      width: 80px;
      height: 80px;
      top: 85%;
      right: 5%;
    }
    &__bubble-about-image {
      width: 320px;
      height: 320px;
    }
  }
}
@media only screen and (max-width: 700px) {
  .instructorsList {
    padding: 2rem 2rem 4rem 2rem;
    h2 {
      font-size: 3rem;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 500px) {
  .instructorsList {
    h2 {
      font-size: 2rem;
    }
    &__popup {
      &__column-box {
        gap: 1rem;
        &__name {
          border-width: 2px;
          font-size: 1rem;
          padding: 0.5rem 1rem;
          box-shadow: none;
        }
      }
      &__bubble-about-image {
        width: 220px;
        height: 220px;
      }
      &__bubble-about-1 {
        width: auto;
        height: auto;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        padding: 0 1rem;
      }
      &__bubble-random-1 {
        top: 5%;
        left: 5%;
        width: 70px;
        height: 70px;
        padding: 0;
        box-shadow: none;
      }
      &__bubble-random-2 {
        width: 70px;
        height: 70px;
        padding: 0;
        top: 88%;
        right: 5%;
        box-shadow: none;
      }
    }
  }
}
@keyframes moveTop {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-70%);
    opacity: 0;
  }
}
.bubbles {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.bubbles svg {
  height: 100%;
  g {
    display: block;
    animation-name: moveTop;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &:nth-of-type(1) {
      animation-delay: 0.1s;
    }
    &:nth-of-type(2) {
      animation-delay: 0.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.3s;
    }
    &:nth-of-type(4) {
      animation-delay: 0.4s;
    }
    &:nth-of-type(5) {
      animation-delay: 0.5s;
    }
    &:nth-of-type(6) {
      animation-delay: 0.6s;
    }
    &:nth-of-type(7) {
      animation-delay: 0.7s;
    }
    &:nth-of-type(8) {
      animation-delay: 0.8s;
    }
    &:nth-of-type(9) {
      animation-delay: 0.9s;
    }
    &:nth-of-type(10) {
      animation-delay: 2s;
    }
    &:nth-of-type(11) {
      animation-delay: 2.1s;
    }
    &:nth-of-type(12) {
      animation-delay: 2.2s;
    }
    &:nth-of-type(13) {
      animation-delay: 2.3s;
    }
    &:nth-of-type(14) {
      animation-delay: 2.4s;
    }
    &:nth-of-type(15) {
      animation-delay: 2.5s;
    }
    &:nth-of-type(16) {
      animation-delay: 2.6s;
    }
    &:nth-of-type(17) {
      animation-delay: 2.7s;
    }
    &:nth-of-type(18) {
      animation-delay: 2.8s;
    }
    &:nth-of-type(19) {
      animation-delay: 2.9s;
    }
  }
}
