@use '../../../../styles/colors.scss' as colors;
@import '../../../../styles/fonts.scss';
.soldOut {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  border-radius: 20px;
  display: flex;
  align-items: top;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 2rem;
  &__info {
    padding: 1rem 2rem;
    color: red;
    border: 5px solid red;
    font-size: 2rem;
    height: fit-content;
    font-family: 'poppins-700';
  }
}
.colonyLink {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: colors.$darkBlue;
  width: 400px;
  border: 1px solid colors.$darkBlue;
  transition: all 0.5s;
  &:hover {
    background-color: white;
    .colonyLink__content h3,
    .colonyLink__content__date,
    .colonyLink__content__price {
      color: colors.$darkBlue;
    }
    .colonyLink__content__button-fake {
      background-color: colors.$darkBlue;
    }
  }
  &__image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  &__content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 0.5rem;
    h3 {
      font-family: 'poppins-700';
      font-size: 1.5rem;
      text-align: center;
      margin: 0;
    }
    &__date {
      font-family: 'poppins-500';
      font-size: 1rem;
      text-align: center;
    }
    &__localization {
      font-family: 'poppins-600';
      font-size: 1.2rem;
      text-align: center;
      color: colors.$basicOrange;
    }
    &__price {
      font-family: 'poppins-600';
      font-size: 1.5rem;
      text-align: center;
    }
    &__button-fake {
      padding: 0.5rem 2rem;
      background-color: colors.$basicOrange;
      font-family: 'poppins-500';
      font-size: 1rem;
      text-align: center;
      border-radius: 40px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .soldOut__info {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: 3px solid red;
    font-family: 'poppins-600';
  }
  .colonyLink {
    width: 300px;
    &__content {
      padding: 1rem;
      h3 {
        font-size: 1.2rem;
      }
      &__date {
        font-size: 0.8rem;
      }
      &__localization {
        font-size: 1.1rem;
      }
      &__price {
        font-size: 1.2rem;
      }
      &__button-fake {
        padding: 0.5rem;
        font-size: 0.8rem;
      }
    }
  }
}
