@use '../../../styles/mixin.scss' as mixin;
@import '../../../styles/fonts.scss';

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}
.title {
  position: absolute;
  top: 40%;
  left: 20%;
  display: flex;
  flex-direction: column;
  @include mixin.phone575px {
    left: 10%;
    top: 30%;
  }
}
.header {
  font-size: 6rem;
  font-family: 'Poppins-700';
  margin: 0;
  @include mixin.phone700px {
    font-size: 5rem;
  }
  @include mixin.phone575px {
    font-size: 3rem;
  }
}
.strip {
  margin-left: 40%;
  @include mixin.pc1250px {
    margin-left: 50%;
  }
  @include mixin.phone700px {
    margin-left: 0%;
  }
}
