/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/page.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_main__ux7yf {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.page_statues-row__ENsIK {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  background-color: black;
}
.page_statues-row__row-item__mkAqG {
  position: relative;
  width: 32.5%;
}
.page_statues-row__row-item__mkAqG:hover {
  cursor: pointer;
}
.page_statues-row__row-item__mkAqG:hover .page_statues-row__row-item__sticker-box__ZTUhI {
  background-color: rgba(0, 0, 0, 0.4);
}
.page_statues-row__row-item__sticker-box__ZTUhI {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_statues-row__row-item__mkAqG img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1400px) {
  .page_statues-row__ENsIK {
    flex-direction: column;
  }
  .page_statues-row__row-item__mkAqG {
    height: 32.5%;
    width: 100%;
  }
  .page_statues-row__row-item__sticker-box__ZTUhI {
    box-sizing: border-box;
    padding: 5% 20%;
    justify-content: flex-start;
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/OfertaZimowa/Obozy/HillSides/hillSides.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Inter";
  src: url(/_next/static/media/Inter-VariableFont_opsz,wght.cc27cf3f.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Inter-Italic";
  src: url(/_next/static/media/Inter-Italic-VariableFont_opsz,wght.dd830f3b.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-100";
  src: url(/_next/static/media/Poppins-Thin.605324f7.ttf);
  font-weight: 100; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-200";
  src: url(/_next/static/media/Poppins-ExtraLight.9102fb84.ttf);
  font-weight: 200; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-300";
  src: url(/_next/static/media/Poppins-Light.8b20023e.ttf);
  font-weight: 300; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-400";
  src: url(/_next/static/media/Poppins-Regular.4b4ebe20.ttf);
  font-weight: 400; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-500";
  src: url(/_next/static/media/Poppins-Medium.a52d0bf0.ttf);
  font-weight: 500; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-600";
  src: url(/_next/static/media/Poppins-SemiBold.98512bf8.ttf);
  font-weight: 600; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-700";
  src: url(/_next/static/media/Poppins-Bold.8001a01b.ttf);
  font-weight: 700; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-800";
  src: url(/_next/static/media/Poppins-ExtraBold.7572a9b5.ttf);
  font-weight: 800; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-900";
  src: url(/_next/static/media/Poppins-Black.a7317f18.ttf);
  font-weight: 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
.hillSides_hillSides__rlq64 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 4rem 0;
  gap: 2rem;
}
@media only screen and (max-width: 700px) {
  .hillSides_hillSides__rlq64 {
    padding: 2rem;
  }
}

.hillSides_header__W_ttP {
  display: flex;
  justify-content: flex-start;
  padding: 0 4rem;
}
@media only screen and (max-width: 1250px) {
  .hillSides_header__W_ttP {
    justify-content: center;
  }
}
@media only screen and (max-width: 700px) {
  .hillSides_header__W_ttP {
    padding: 0;
  }
}
.hillSides_header__W_ttP h2 {
  margin: 0;
}
@media only screen and (max-width: 1250px) {
  .hillSides_header__W_ttP h2 {
    text-align: center;
  }
}

.hillSides_list__Rd8Vl {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 1rem;
}

.hillSides_rowBox__Asrzq {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1250px) {
  .hillSides_rowBox__Asrzq {
    flex-direction: column;
  }
}

.hillSides_content__dUx_g {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  width: 50%;
}
@media only screen and (max-width: 1250px) {
  .hillSides_content__dUx_g {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .hillSides_content__dUx_g {
    padding: 0;
  }
}

.hillSides_contentHeader__8lGMS {
  font-family: "poppins-600";
  color: rgba(15, 72, 183, 0.27);
  font-size: 3rem;
}
@media only screen and (max-width: 1250px) {
  .hillSides_contentHeader__8lGMS {
    text-align: center;
  }
}
@media only screen and (max-width: 700px) {
  .hillSides_contentHeader__8lGMS {
    font-size: 1.7rem;
    text-align: center;
  }
}

.hillSides_contentList__OKwTa {
  color: #053490;
  font-family: "poppins-500";
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 1250px) {
  .hillSides_contentList__OKwTa {
    list-style-type: none;
  }
}
@media only screen and (max-width: 700px) {
  .hillSides_contentList__OKwTa {
    font-size: 1rem;
  }
}
.hillSides_contentList__OKwTa li {
  margin-left: 25px;
  color: #053490;
  font-family: "poppins-500";
}
@media only screen and (max-width: 1250px) {
  .hillSides_contentList__OKwTa li {
    text-align: center;
    margin-left: 0;
  }
}

.hillSides_image__hS8sP {
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
}
@media only screen and (max-width: 1250px) {
  .hillSides_image__hS8sP {
    display: none;
  }
}

.hillSides_rowBox__Asrzq:nth-child(even) {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 1250px) {
  .hillSides_rowBox__Asrzq:nth-child(even) {
    flex-direction: column;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/Ui/Stickers/sticker.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.sticker_box__2DwwY {
  gap: 1rem;
  box-sizing: border-box;
  padding-left: 20px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 3;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 900px) {
  .sticker_box__2DwwY {
    align-items: center;
  }
}
@media only screen and (max-width: 800px) {
  .sticker_box__2DwwY {
    width: 100%;
    padding: 0;
  }
}

.sticker_h1Title__1AgLH,
.sticker_h1Title2__OBu9e {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  font-weight: 800;
  text-align: left;
}
@media only screen and (max-width: 1250px) {
  .sticker_h1Title__1AgLH,
  .sticker_h1Title2__OBu9e {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 800px) {
  .sticker_h1Title__1AgLH,
  .sticker_h1Title2__OBu9e {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .sticker_h1Title__1AgLH,
  .sticker_h1Title2__OBu9e {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 350px) {
  .sticker_h1Title__1AgLH,
  .sticker_h1Title2__OBu9e {
    font-size: 1.5rem;
  }
}

.sticker_h1Title2__OBu9e {
  margin-left: 7rem;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 1250px) {
  .sticker_h1Title2__OBu9e {
    padding-bottom: 0;
    margin-left: 3rem;
  }
}

.sticker_h2Title__qK5lz {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 800;
  text-align: left;
}
@media only screen and (max-width: 1600px) {
  .sticker_h2Title__qK5lz {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 1250px) {
  .sticker_h2Title__qK5lz {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 1000px) {
  .sticker_h2Title__qK5lz {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 900px) {
  .sticker_h2Title__qK5lz {
    font-size: 1rem;
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {
  .sticker_h2Title__qK5lz {
    font-size: 1rem;
  }
}

.sticker_h4Title__3QMI6 {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 800;
  text-align: left;
}
@media only screen and (max-width: 1600px) {
  .sticker_h4Title__3QMI6 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 1250px) {
  .sticker_h4Title__3QMI6 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 900px) {
  .sticker_h4Title__3QMI6 {
    text-align: center;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/Ui/Strips/strip.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.strip_box__RFz8c {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 1.5rem;
}
@media only screen and (max-width: 1250px) {
  .strip_box__RFz8c {
    margin-top: 0.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .strip_box__RFz8c {
    align-self: center;
  }
}
@media only screen and (max-width: 800px) {
  .strip_box__RFz8c {
    width: 90%;
    margin-top: 0;
  }
}
@media only screen and (min-width: 800px) {
  .strip_box__RFz8c {
    background-color: transparent !important;
  }
}
@media only screen and (max-width: 500px) {
  .strip_box__RFz8c {
    padding: 0.7rem;
  }
}

.strip_h1Title__toZhd {
  position: relative;
  font-size: 3.2rem;
  font-weight: 800;
  z-index: 4;
  text-align: center;
  margin: 0;
}
@media only screen and (max-width: 1600px) {
  .strip_h1Title__toZhd {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 1250px) {
  .strip_h1Title__toZhd {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .strip_h1Title__toZhd {
    width: 100%;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .strip_h1Title__toZhd {
    font-size: 1.5rem;
  }
}

.strip_h2Title__Z3x_P {
  position: relative;
  font-size: 2.2rem;
  font-weight: 800;
  z-index: 4;
  text-align: center;
  margin: 0;
  padding: 0 1rem;
}
@media only screen and (max-width: 1600px) {
  .strip_h2Title__Z3x_P {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1250px) {
  .strip_h2Title__Z3x_P {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1000px) {
  .strip_h2Title__Z3x_P {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 500px) {
  .strip_h2Title__Z3x_P {
    font-size: 1rem;
  }
}

.strip_h3Title__ICW8N {
  position: relative;
  font-size: 2rem;
  font-weight: 800;
  z-index: 4;
  text-align: center;
  margin: 0;
}
@media only screen and (max-width: 1600px) {
  .strip_h3Title__ICW8N {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1250px) {
  .strip_h3Title__ICW8N {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1000px) {
  .strip_h3Title__ICW8N {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 500px) {
  .strip_h3Title__ICW8N {
    font-size: 0.9rem;
  }
}

.strip_h4Title__3Ddwe {
  position: relative;
  font-size: 1.5rem;
  font-weight: 800;
  z-index: 4;
  text-align: center;
  margin: 0;
}
@media only screen and (max-width: 1600px) {
  .strip_h4Title__3Ddwe {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1250px) {
  .strip_h4Title__3Ddwe {
    font-size: 1rem;
  }
}

.strip_mainScrap__yuyXt {
  position: absolute;
  top: auto;
  left: auto;
  height: min-content;
  width: -webkit-fill-available;
}
@media only screen and (max-width: 800px) {
  .strip_mainScrap__yuyXt {
    display: none;
  }
}

.strip_scrapLeft__hOAtX {
  display: none;
  position: absolute;
  left: -17px;
  height: -webkit-fill-available;
  width: auto;
  top: 0;
}
@media only screen and (max-width: 800px) {
  .strip_scrapLeft__hOAtX {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
  .strip_scrapLeft__hOAtX {
    left: -12px;
  }
}

.strip_scrapRight__Gz_F5 {
  display: none;
  position: absolute;
  right: -17px;
  height: -webkit-fill-available;
  width: auto;
  top: 0;
}
@media only screen and (max-width: 800px) {
  .strip_scrapRight__Gz_F5 {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
  .strip_scrapRight__Gz_F5 {
    right: -12px;
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/OfertaZimowa/Obozy/WhatsWaiting4You/whatsWaiting4You.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Inter";
  src: url(/_next/static/media/Inter-VariableFont_opsz,wght.cc27cf3f.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Inter-Italic";
  src: url(/_next/static/media/Inter-Italic-VariableFont_opsz,wght.dd830f3b.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-100";
  src: url(/_next/static/media/Poppins-Thin.605324f7.ttf);
  font-weight: 100; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-200";
  src: url(/_next/static/media/Poppins-ExtraLight.9102fb84.ttf);
  font-weight: 200; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-300";
  src: url(/_next/static/media/Poppins-Light.8b20023e.ttf);
  font-weight: 300; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-400";
  src: url(/_next/static/media/Poppins-Regular.4b4ebe20.ttf);
  font-weight: 400; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-500";
  src: url(/_next/static/media/Poppins-Medium.a52d0bf0.ttf);
  font-weight: 500; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-600";
  src: url(/_next/static/media/Poppins-SemiBold.98512bf8.ttf);
  font-weight: 600; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-700";
  src: url(/_next/static/media/Poppins-Bold.8001a01b.ttf);
  font-weight: 700; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-800";
  src: url(/_next/static/media/Poppins-ExtraBold.7572a9b5.ttf);
  font-weight: 800; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-900";
  src: url(/_next/static/media/Poppins-Black.a7317f18.ttf);
  font-weight: 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
.whatsWaiting4You_whatsWaiting4You__5vrKg {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 4rem;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .whatsWaiting4You_whatsWaiting4You__5vrKg {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 700px) {
  .whatsWaiting4You_whatsWaiting4You__5vrKg {
    padding: 2rem;
  }
}

.whatsWaiting4You_content__ZpiJV {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
}
@media only screen and (max-width: 1000px) {
  .whatsWaiting4You_content__ZpiJV {
    align-items: center;
    width: 100%;
  }
}

.whatsWaiting4You_list__g4GOn {
  color: #053490;
  font-family: "poppins-500";
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 1000px) {
  .whatsWaiting4You_list__g4GOn {
    text-align: center;
    list-style-type: none;
  }
}
.whatsWaiting4You_list__g4GOn li {
  margin-left: 25px;
}

.whatsWaiting4You_text__bVzxO {
  color: #053490;
  font-family: "poppins-600";
}
@media only screen and (max-width: 1000px) {
  .whatsWaiting4You_text__bVzxO {
    text-align: center;
  }
}

.whatsWaiting4You_image__36_F1 {
  width: 30%;
  height: max-content;
}
@media only screen and (max-width: 1000px) {
  .whatsWaiting4You_image__36_F1 {
    width: 80%;
    height: auto;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/OfertaZimowa/Ui/Contact/contact.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Inter";
  src: url(/_next/static/media/Inter-VariableFont_opsz,wght.cc27cf3f.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Inter-Italic";
  src: url(/_next/static/media/Inter-Italic-VariableFont_opsz,wght.dd830f3b.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-100";
  src: url(/_next/static/media/Poppins-Thin.605324f7.ttf);
  font-weight: 100; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-200";
  src: url(/_next/static/media/Poppins-ExtraLight.9102fb84.ttf);
  font-weight: 200; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-300";
  src: url(/_next/static/media/Poppins-Light.8b20023e.ttf);
  font-weight: 300; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-400";
  src: url(/_next/static/media/Poppins-Regular.4b4ebe20.ttf);
  font-weight: 400; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-500";
  src: url(/_next/static/media/Poppins-Medium.a52d0bf0.ttf);
  font-weight: 500; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-600";
  src: url(/_next/static/media/Poppins-SemiBold.98512bf8.ttf);
  font-weight: 600; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-700";
  src: url(/_next/static/media/Poppins-Bold.8001a01b.ttf);
  font-weight: 700; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-800";
  src: url(/_next/static/media/Poppins-ExtraBold.7572a9b5.ttf);
  font-weight: 800; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-900";
  src: url(/_next/static/media/Poppins-Black.a7317f18.ttf);
  font-weight: 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
.contact_contact__qccCF {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
}
.contact_contact__box__VUZuf {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  align-self: center;
  align-items: center;
  justify-content: center;
  border: 3px solid #493a2d;
  border-radius: 20px;
  gap: 1rem;
}
.contact_contact__box__header__iFftG {
  text-align: center;
  font-size: 2rem;
  color: #053490;
  font-family: "poppins-700";
}
.contact_contact__box__text__gM2y6,
.contact_contact__box__VUZuf a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
  text-align: center;
  color: #053490;
  font-family: "poppins-600";
  font-size: 1.7rem;
}
.contact_contact__box__text__gM2y6 svg,
.contact_contact__box__VUZuf a svg {
  width: 50px;
  height: 50px;
}
.contact_contact__box__text__gM2y6 svg path,
.contact_contact__box__VUZuf a svg path {
  fill: #053490;
}
.contact_contact__box__VUZuf a:hover {
  color: #ff914c;
}

@media only screen and (max-width: 1000px) {
  .contact_contact__box__header__iFftG {
    font-size: 1.5rem;
  }
  .contact_contact__box__text__gM2y6,
  .contact_contact__box__VUZuf a {
    font-size: 1rem;
  }
  .contact_contact__box__text__gM2y6 svg,
  .contact_contact__box__VUZuf a svg {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .contact_contact__qccCF {
    padding: 2rem;
  }
  .contact_contact__box__VUZuf {
    padding: 1rem;
  }
  .contact_contact__box__header__iFftG {
    font-size: 1.3rem;
  }
  .contact_contact__box__text__gM2y6,
  .contact_contact__box__VUZuf a {
    gap: 0.5rem;
    font-size: 0.8rem;
  }
  .contact_contact__box__text__gM2y6 svg,
  .contact_contact__box__VUZuf a svg {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 410px) {
  .contact_contact__box__text__gM2y6,
  .contact_contact__box__VUZuf a {
    font-size: 0.5rem;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/OfertaZimowa/Ui/Details/details.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Inter";
  src: url(/_next/static/media/Inter-VariableFont_opsz,wght.cc27cf3f.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Inter-Italic";
  src: url(/_next/static/media/Inter-Italic-VariableFont_opsz,wght.dd830f3b.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-100";
  src: url(/_next/static/media/Poppins-Thin.605324f7.ttf);
  font-weight: 100; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-200";
  src: url(/_next/static/media/Poppins-ExtraLight.9102fb84.ttf);
  font-weight: 200; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-300";
  src: url(/_next/static/media/Poppins-Light.8b20023e.ttf);
  font-weight: 300; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-400";
  src: url(/_next/static/media/Poppins-Regular.4b4ebe20.ttf);
  font-weight: 400; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-500";
  src: url(/_next/static/media/Poppins-Medium.a52d0bf0.ttf);
  font-weight: 500; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-600";
  src: url(/_next/static/media/Poppins-SemiBold.98512bf8.ttf);
  font-weight: 600; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-700";
  src: url(/_next/static/media/Poppins-Bold.8001a01b.ttf);
  font-weight: 700; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-800";
  src: url(/_next/static/media/Poppins-ExtraBold.7572a9b5.ttf);
  font-weight: 800; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-900";
  src: url(/_next/static/media/Poppins-Black.a7317f18.ttf);
  font-weight: 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
.details_details__hnYJ4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 4rem;
  gap: 2rem;
}
.details_details__row-box__HZKeL {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.details_details__info-box__ciSS_ {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 3px solid #493a2d;
  border-radius: 20px;
}
.details_details__info-box__header__XbeFq {
  text-align: center;
  font-size: 2rem;
  color: #053490;
  font-family: "poppins-700";
}
.details_details__info-box__text__wLfZR {
  text-align: center;
  color: #053490;
  font-family: "poppins-500";
  font-size: 1rem;
}

.details_detailsBox__JyyCy {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1px;
  padding: 0.5rem 5rem;
  background-color: #becdeb;
  border-radius: 20px;
  border: 3px solid #493a2d;
}
.details_detailsBox__label__ggmaY {
  text-align: center;
  color: #053490;
  font-size: 1.5rem;
  font-family: "poppins-700";
}
.details_detailsBox__content__eymSq {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-family: "poppins-500";
}
.details_detailsBox__promo-price__n4JkQ {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-family: "poppins-700";
  background-color: #3bb93b;
  border-radius: 50px;
  width: 100%;
}
.details_detailsBox__promo-info__bw_QV {
  text-align: center;
  color: #3bb93b;
  font-size: 1.5rem;
  font-family: "poppins-700";
}

@media only screen and (max-width: 600px) {
  .details_details__hnYJ4 {
    padding: 2rem;
  }
  .details_details__row-box__HZKeL {
    flex-direction: column;
  }
  .details_details__info-box__ciSS_ {
    padding: 1rem;
  }
  .details_details__info-box__header__XbeFq {
    font-size: 1.4rem;
  }
  .details_detailsBox__JyyCy {
    padding: 0.5rem 1rem;
  }
  .details_detailsBox__label__ggmaY,
  .details_detailsBox__promo-price__n4JkQ,
  .details_detailsBox__promo-info__bw_QV,
  .details_detailsBox__content__eymSq {
    font-size: 1.3rem;
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/OfertaZimowa/Ui/Hero/hero.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.hero_hero__VLEtk {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero_hero__image__mgErx {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: left bottom;
}
.hero_hero__image-mobile__EOPn_ {
  display: none;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: left bottom;
}

@media only screen and (max-width: 800px) {
  .hero_hero__image__mgErx {
    display: none;
  }
  .hero_hero__image-mobile__EOPn_ {
    display: flex;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/OfertaZimowa/Ui/MountainsTrees/mountainsTrees.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.mountainsTrees_mountainsTrees__xZBkF {
  display: flex;
  height: auto;
  align-items: center;
}
.mountainsTrees_mountainsTrees__xZBkF svg {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .mountainsTrees_mountainsTrees__xZBkF svg {
    height: 200px;
  }
}
@media only screen and (max-width: 500px) {
  .mountainsTrees_mountainsTrees__xZBkF svg {
    height: 150px;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/OfertaZimowa/Ui/PriceDetails/priceDetails.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Inter";
  src: url(/_next/static/media/Inter-VariableFont_opsz,wght.cc27cf3f.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Inter-Italic";
  src: url(/_next/static/media/Inter-Italic-VariableFont_opsz,wght.dd830f3b.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-100";
  src: url(/_next/static/media/Poppins-Thin.605324f7.ttf);
  font-weight: 100; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-200";
  src: url(/_next/static/media/Poppins-ExtraLight.9102fb84.ttf);
  font-weight: 200; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-300";
  src: url(/_next/static/media/Poppins-Light.8b20023e.ttf);
  font-weight: 300; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-400";
  src: url(/_next/static/media/Poppins-Regular.4b4ebe20.ttf);
  font-weight: 400; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-500";
  src: url(/_next/static/media/Poppins-Medium.a52d0bf0.ttf);
  font-weight: 500; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-600";
  src: url(/_next/static/media/Poppins-SemiBold.98512bf8.ttf);
  font-weight: 600; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-700";
  src: url(/_next/static/media/Poppins-Bold.8001a01b.ttf);
  font-weight: 700; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-800";
  src: url(/_next/static/media/Poppins-ExtraBold.7572a9b5.ttf);
  font-weight: 800; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-900";
  src: url(/_next/static/media/Poppins-Black.a7317f18.ttf);
  font-weight: 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
.priceDetails_priceDetails__VxlhD {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 0rem 4rem 6rem 4rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.priceDetails_priceDetails__content-box__hEjOI {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 2rem;
}
.priceDetails_priceDetails__content-box__list-box__uY_Is {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.priceDetails_priceDetails__content-box__list-box__item__Q43pv {
  color: white;
  background-color: #053490;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  font-family: "poppins-500";
}
.priceDetails_priceDetails__svg-image__8qEWR {
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
}

@media only screen and (max-width: 1000px) {
  .priceDetails_priceDetails__VxlhD {
    flex-direction: column;
  }
  .priceDetails_priceDetails__content-box__hEjOI {
    align-items: center;
    width: 100%;
  }
  .priceDetails_priceDetails__content-box__list-box__uY_Is {
    justify-content: center;
  }
  .priceDetails_priceDetails__content-box__list-box__item__Q43pv {
    text-align: center;
  }
  .priceDetails_priceDetails__svg-image__8qEWR {
    width: 80%;
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
  .priceDetails_priceDetails__VxlhD {
    padding: 2rem;
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/OfertaZimowa/WeekendoweNarty/schedule.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Inter";
  src: url(/_next/static/media/Inter-VariableFont_opsz,wght.cc27cf3f.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Inter-Italic";
  src: url(/_next/static/media/Inter-Italic-VariableFont_opsz,wght.dd830f3b.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-100";
  src: url(/_next/static/media/Poppins-Thin.605324f7.ttf);
  font-weight: 100; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-200";
  src: url(/_next/static/media/Poppins-ExtraLight.9102fb84.ttf);
  font-weight: 200; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-300";
  src: url(/_next/static/media/Poppins-Light.8b20023e.ttf);
  font-weight: 300; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-400";
  src: url(/_next/static/media/Poppins-Regular.4b4ebe20.ttf);
  font-weight: 400; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-500";
  src: url(/_next/static/media/Poppins-Medium.a52d0bf0.ttf);
  font-weight: 500; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-600";
  src: url(/_next/static/media/Poppins-SemiBold.98512bf8.ttf);
  font-weight: 600; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-700";
  src: url(/_next/static/media/Poppins-Bold.8001a01b.ttf);
  font-weight: 700; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-800";
  src: url(/_next/static/media/Poppins-ExtraBold.7572a9b5.ttf);
  font-weight: 800; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-900";
  src: url(/_next/static/media/Poppins-Black.a7317f18.ttf);
  font-weight: 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
.schedule_schedule__v0o8y {
  box-sizing: border-box;
  display: flex;
  padding: 4rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.schedule_schedule__content__hVP1k {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.schedule_schedule__content__header__NjhzD {
  color: rgba(15, 72, 183, 0.27);
  text-align: center;
  font-family: "poppins-700";
  font-size: 6rem;
  margin: 0;
}
.schedule_schedule__content__list__J4_wV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 1000px;
}
.schedule_schedule__content__list__item__wvX3_ {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}
.schedule_schedule__content__list__item__item-row__y_qKO {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.schedule_schedule__content__list__item__item-row__time__vkbWF {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 200px;
  height: 80px;
  border: 3px solid #ff914c;
  font-size: 1.2rem;
  color: #ff914c;
  font-family: "poppins-600";
}
.schedule_schedule__content__list__item__item-row__about__CM0Jw {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 1rem;
  width: 800px;
  height: 80px;
  border-top: 3px solid #053490;
  border-right: 3px solid #053490;
  border-bottom: 3px solid #053490;
  font-size: 1.2rem;
  color: #053490;
  font-family: "poppins-600";
}
.schedule_schedule__content__list__item__sublist__deTCv {
  display: flex;
  box-sizing: border-box;
  height: 100px;
  flex-direction: row;
  width: 800px;
}
.schedule_schedule__content__list__item__sublist__item__FC4u_ {
  box-sizing: border-box;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-left: 2px solid #053490;
  border-right: 2px solid #053490;
  border-bottom: 2px solid #053490;
}
.schedule_schedule__content__list__item__sublist__item__title__RE839 {
  font-size: 1.1rem;
  color: #ff914c;
  font-family: "poppins-600";
  text-align: center;
}
.schedule_schedule__content__list__item__sublist__item__about__7iCUu {
  font-size: 1rem;
  color: #053490;
  font-family: "poppins-600";
  text-align: center;
}

@media only screen and (max-width: 1100px) {
  .schedule_schedule__content__header__NjhzD {
    font-size: 3rem;
  }
  .schedule_schedule__content__list__J4_wV {
    width: 600px;
  }
  .schedule_schedule__content__list__item__item-row__time__vkbWF {
    font-size: 1rem;
    width: 150px;
  }
  .schedule_schedule__content__list__item__item-row__about__CM0Jw {
    width: 450px;
    font-size: 0.8rem;
  }
  .schedule_schedule__content__list__item__sublist__deTCv {
    width: 450px;
    height: auto;
  }
  .schedule_schedule__content__list__item__sublist__item__FC4u_ {
    padding: 0.5rem;
    height: auto;
    gap: 0.5rem;
  }
  .schedule_schedule__content__list__item__sublist__item__title__RE839 {
    font-size: 1rem;
  }
  .schedule_schedule__content__list__item__sublist__item__about__7iCUu {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 1100px) {
  .schedule_schedule__v0o8y {
    padding: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .schedule_schedule__content__header__NjhzD {
    font-size: 2rem;
  }
  .schedule_schedule__content__list__J4_wV {
    width: 300px;
  }
  .schedule_schedule__content__list__item__item-row__y_qKO {
    flex-direction: column;
  }
  .schedule_schedule__content__list__item__item-row__time__vkbWF {
    font-size: 1rem;
    width: 100%;
  }
  .schedule_schedule__content__list__item__item-row__about__CM0Jw {
    width: 100%;
    border-left: 3px solid #053490;
    font-size: 0.8rem;
    text-align: center;
    font-size: 0.7rem;
    border-top: 0;
  }
  .schedule_schedule__content__list__item__sublist__deTCv {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .schedule_schedule__content__list__item__sublist__item__FC4u_ {
    padding: 0.5rem;
    height: auto;
    gap: 0.5rem;
    width: 100%;
  }
  .schedule_schedule__content__list__item__sublist__item__title__RE839 {
    font-size: 1rem;
  }
  .schedule_schedule__content__list__item__sublist__item__about__7iCUu {
    font-size: 0.8rem;
  }
}
