@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";
.schedule {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  &__row-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 4rem 0 4rem 4rem;
    justify-content: space-between;
    gap: 2rem;
    &__content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 40%;
      box-sizing: border-box;
      &__text {
        color: $darkBlue;
        font-family: "poppins-500";
      }
    }
    &__svg-image {
      width: 50%;
      height: auto;
    }
  }
  &__list {
    list-style-type: none;
    padding: 1rem 4rem;
    &__item {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: 3px solid rgba(15, 72, 183, 0.6);
      border-radius: 25px;
      padding: 2rem;
      margin: 1rem 0;
      &__header {
        color: rgba(15, 72, 183, 0.6);
        font-size: 2.5rem;
        font-family: "poppins-700";
        margin: 0;
      }
      &__about {
        color: $darkBlue;
        font-family: "poppins-500";
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .schedule {
    &__row-box {
      flex-direction: column;
      &__content {
        align-items: center;
        width: 100%;
        padding-right: 4rem;
        &__text {
          text-align: center;
        }
      }
      &__svg-image {
        width: 100%;
        height: auto;
      }
    }
    &__list {
      &__item {
        &__header {
          font-size: 1.7rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .schedule {
    &__row-box {
      padding: 2rem 0 0rem 2rem;
      &__content {
        padding-right: 2rem;
      }
    }
    &__list {
      padding: 1rem 2rem;
      &__item {
        padding: 1.3rem;
        &__header {
          font-size: 1.4rem;
          text-align: center;
        }
        &__about {
          text-align: center;
          font-size: 0.7rem;
        }
      }
    }
  }
}
