@import "../../styles/colors.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: black;
  position: relative;
  &__image-box {
    display: flex;
    position: relative;
    width: 32.5%;
    height: 100vh;
    object-fit: cover;
    justify-content: center;
    align-items: flex-end;
    &__sticker-box {
      display: flex;
    }
    &__oneSticker-box {
      position: absolute;
      z-index: 3;
      left: 20%;
      top: 30%;
    }
    &__opacity-cover {
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
@media only screen and (max-width: 850px) {
  .container__image-box__sticker-box {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .container__image-box__oneSticker-box {
    left: 5%;
  }
}
@media only screen and (max-width: 600px) {
  .container__image-box {
    width: 100%;
  }
  .container__image-box:nth-of-type(1) {
    display: none;
  }
  .container__image-box:nth-of-type(2) {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .container__image-box__oneSticker-box {
    left: 15%;
  }
}
@media only screen and (max-width: 500px) {
  .container__image-box__oneSticker-box {
    left: 5%;
  }
}
