@use '../../../../styles/colors.scss' as colors;
@use '../../../../styles/mixin.scss' as mixin;
@import '../../../../styles/fonts.scss';
.hillSides {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 4rem 0;
  gap: 2rem;
  @include mixin.phone700px {
    padding: 2rem;
  }
}
.header {
  display: flex;
  justify-content: flex-start;
  padding: 0 4rem;
  @include mixin.pc1250px {
    justify-content: center;
  }
  @include mixin.phone700px {
    padding: 0;
  }
  h2 {
    margin: 0;
    @include mixin.pc1250px {
      text-align: center;
    }
  }
}
.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 1rem;
}
.rowBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include mixin.pc1250px {
    flex-direction: column;
  }
}
.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  width: 50%;
  @include mixin.pc1250px {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    width: 100%;
  }
  @include mixin.phone700px {
    padding: 0;
  }
}
.contentHeader {
  font-family: 'poppins-600';
  color: rgba(15, 72, 183, 0.27);
  font-size: 3rem;
  @include mixin.pc1250px {
    text-align: center;
  }
  @include mixin.phone700px {
    font-size: 1.7rem;
    text-align: center;
  }
}
.contentList {
  color: colors.$darkBlue;
  font-family: 'poppins-500';
  margin: 0;
  padding: 0;
  @include mixin.pc1250px {
    list-style-type: none;
  }
  @include mixin.phone700px {
    font-size: 1rem;
  }
  li {
    margin-left: 25px;
    color: colors.$darkBlue;
    font-family: 'poppins-500';
    @include mixin.pc1250px {
      text-align: center;
      margin-left: 0;
    }
  }
}
.image {
  height: fit-content;
  width: 50%;
  @include mixin.pc1250px {
    display: none;
  }
}
.rowBox:nth-child(even) {
  flex-direction: row-reverse;
  @include mixin.pc1250px {
    flex-direction: column;
  }
}
