.mountainsTrees {
  display: flex;
  height: auto;
  align-items: center;
  svg {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .mountainsTrees svg {
    height: 200px;
  }
}
@media only screen and (max-width: 500px) {
  .mountainsTrees svg {
    height: 150px;
  }
}
