/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/Globals/Footer/footer.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__7TSC6 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 4rem 3rem;
  background-color: #053490;
}
@media only screen and (max-width: 1000px) {
  .footer_footer__7TSC6 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
  }
}
@media only screen and (max-width: 500px) {
  .footer_footer__7TSC6 {
    padding: 2rem 1rem;
  }
}

.footer_logo__rFBj3 {
  height: 100px;
  width: auto;
}

.footer_socjal__PisXf {
  flex-direction: column;
  align-items: flex-start !important;
  gap: 0.5rem;
}
@media only screen and (max-width: 1000px) {
  .footer_socjal__PisXf {
    align-items: center !important;
  }
}
.footer_socjal__PisXf li, .footer_socjal__PisXf li a {
  font-size: 0.7rem !important;
}
.footer_socjal__PisXf .footer_image__8yRhJ {
  width: 30px;
  height: 30px;
}

.footer_navigation__HU2DK, .footer_socjal__PisXf {
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.footer_navigation__HU2DK li, .footer_socjal__PisXf li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 1rem;
  transition: color 0.4s;
  gap: 0.5rem;
}
.footer_navigation__HU2DK li a, .footer_socjal__PisXf li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.footer_navigation__HU2DK li:hover, .footer_socjal__PisXf li:hover {
  color: #ff914c;
}

.footer_image__8yRhJ {
  width: 40px;
  height: 40px;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/Globals/Navigation/NavBar/navBar.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.navBar_navBar__cKoW9 {
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.navBar_logo__SQN_l {
  display: flex;
  width: auto;
  height: 100px;
}

.navBar_btnsBox__CBhZt {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 0;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .navBar_logo__SQN_l {
    display: none;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/Ui/Buttons/buttons.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.buttons_linkButton__AcaLA {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  color: white;
  border: 0;
  border-radius: 40px;
  gap: 1rem;
  background-color: #ff914c;
  transition: all 0.5s;
  border: 2px solid #ff914c;
}
.buttons_linkButton__AcaLA svg path {
  fill: white;
}
.buttons_linkButton__AcaLA:hover {
  border: 2px solid #ff914c;
  background-color: white;
  color: #ff914c;
  cursor: pointer;
}
.buttons_linkButton__AcaLA:hover svg path {
  fill: #ff914c;
}

.buttons_signInButton__qHHAZ {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  color: #053490 !important;
  border: 0;
  border-radius: 40px;
  gap: 0.5rem;
  z-index: 1;
  background-color: white;
  transition: all 0.5s;
}
.buttons_signInButton__qHHAZ svg path {
  fill: #053490;
}
.buttons_signInButton__qHHAZ:hover {
  cursor: pointer;
  background-color: #ff914c;
}
.buttons_signInButton__qHHAZ:hover svg path {
  fill: #053490;
}

.buttons_navBtn__fpNSW {
  width: 80px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: white;
  border: 0;
  font-weight: 600;
}
.buttons_navBtn__fpNSW:hover {
  cursor: pointer;
}

.buttons_xBtn__Km9HW {
  border: 0;
  background-color: transparent;
}
.buttons_xBtn__Km9HW:hover {
  cursor: pointer;
}

.buttons_prevPhotoButton__bJDYl,
.buttons_nextPhotoButton__V4Lxd {
  background-color: transparent;
  border: 0;
}
.buttons_prevPhotoButton__bJDYl svg,
.buttons_nextPhotoButton__V4Lxd svg {
  width: 100px;
  height: auto;
}
.buttons_prevPhotoButton__bJDYl svg path,
.buttons_nextPhotoButton__V4Lxd svg path {
  fill: #ff914c;
}
.buttons_prevPhotoButton__bJDYl:hover,
.buttons_nextPhotoButton__V4Lxd:hover {
  cursor: pointer;
}
.buttons_prevPhotoButton__bJDYl:hover svg path,
.buttons_nextPhotoButton__V4Lxd:hover svg path {
  fill: white;
}

.buttons_xPhotoButton__ArfJq {
  position: absolute;
  top: -49px;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "poppins-600";
  font-size: 1.2rem;
  color: white;
  background-color: #ff914c;
  border: 0;
  padding: 0.2rem 0.5rem 0.2rem 7rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  transition: all 0.5s;
}
.buttons_xPhotoButton__ArfJq svg path {
  fill: white;
}
.buttons_xPhotoButton__ArfJq:hover {
  cursor: pointer;
  color: #ff914c;
  background-color: white;
}
.buttons_xPhotoButton__ArfJq:hover svg path {
  fill: #ff914c;
}

@media only screen and (max-width: 600px) {
  .buttons_linkButton__AcaLA {
    font-size: 1rem;
    padding: 1rem;
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/Globals/Navigation/Navigation/navigation.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@keyframes navigation_show__9EQJt {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 112% 100%;
  }
}
@keyframes navigation_hide__1s9my {
  from {
    background-size: 112% 100%;
  }
  to {
    background-size: 0% 100%;
    display: none;
  }
}
@keyframes navigation_showContent__ZDoiY {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes navigation_hideContent__3aArK {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.navigation_navigationHide__xad25 {
  animation-name: navigation_hide__1s9my !important;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: alternate;
  overflow: hidden;
}

.navigation_navigationHideContent__AUgnS {
  animation-name: navigation_hideContent__3aArK !important;
  animation-duration: 0.2s !important;
  animation-delay: 0s !important;
}

.navigation_navigation___nF_a {
  opacity: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/assets/ui/nav-background.png");
  background-position: right;
  background-repeat: no-repeat;
  animation-name: navigation_show__9EQJt;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: alternate;
  overflow: hidden;
}

.navigation_topBox__brcRH {
  box-sizing: border-box;
  width: 100%;
  height: 10vh;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  animation-name: navigation_showContent__ZDoiY;
  animation-delay: 0.8s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: alternate;
}
@media only screen and (max-width: 700px) {
  .navigation_topBox__brcRH {
    justify-content: flex-end;
    padding-right: 0;
  }
}

.navigation_logo__EpWkV {
  height: 100px;
  width: auto;
}
@media only screen and (max-width: 700px) {
  .navigation_logo__EpWkV {
    display: none !important;
  }
}

.navigation_bottomBox__CUxsy {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
  animation-name: navigation_showContent__ZDoiY;
  animation-delay: 0.8s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: alternate;
}
@media only screen and (max-width: 1100px) {
  .navigation_bottomBox__CUxsy {
    justify-content: center;
  }
}

.navigation_box20w__aIw_U {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 80vh;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.3rem;
}
@media only screen and (max-width: 1100px) {
  .navigation_box20w__aIw_U {
    display: none;
  }
}
@media only screen and (max-width: 1520px) {
  .navigation_box20w__aIw_U:nth-of-type(1) {
    width: 10%;
  }
}
@media only screen and (max-width: 1520px) {
  .navigation_box20w__aIw_U:nth-of-type(3) {
    width: 30%;
  }
}

.navigation_contactBox__6ffx2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  align-items: flex-end;
  font-weight: 600;
  font-size: 0.7rem;
}

.navigation_icon__wIbnP {
  width: 30px;
  height: 30px;
}

.navigation_box80w__C38yW {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}
@media only screen and (max-width: 1520px) {
  .navigation_box80w__C38yW {
    width: 60%;
  }
}
@media only screen and (max-width: 1100px) {
  .navigation_box80w__C38yW {
    align-items: center;
    width: 80%;
  }
}
@media only screen and (max-width: 700px) {
  .navigation_box80w__C38yW {
    width: 100%;
  }
}
.navigation_box80w__C38yW ul {
  list-style-type: none;
  padding: 0;
}
@media only screen and (max-width: 1100px) {
  .navigation_box80w__C38yW ul {
    width: 100%;
  }
}
.navigation_box80w__C38yW ul li {
  padding: 1rem 0;
  border-bottom: 3px solid #669ad7;
}
.navigation_box80w__C38yW ul li a,
.navigation_box80w__C38yW ul li a:visited,
.navigation_box80w__C38yW ul li a:hover,
.navigation_box80w__C38yW ul li a:active {
  color: inherit;
  text-decoration: none;
}
@media only screen and (max-width: 500px) {
  .navigation_box80w__C38yW ul li {
    padding: 0.5rem 0;
  }
}

.navigation_nav__tmiS9 {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0.3rem;
  font-weight: 600;
  transition: background-color 1s;
}
@media only screen and (max-width: 1100px) {
  .navigation_nav__tmiS9 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .navigation_nav__tmiS9 {
    font-size: 0.7rem;
  }
}
.navigation_nav__tmiS9:hover {
  color: #1048b6;
  background-color: white;
  cursor: pointer;
}

.navigation_location__w8sw3 {
  margin-left: 1rem;
  color: #669ad7;
}
@media only screen and (max-width: 500px) {
  .navigation_location__w8sw3 {
    margin-left: 0.5rem;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./styles/globals.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Inter";
  src: url(/_next/static/media/Inter-VariableFont_opsz,wght.cc27cf3f.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Inter-Italic";
  src: url(/_next/static/media/Inter-Italic-VariableFont_opsz,wght.dd830f3b.ttf) format("truetype");
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-100";
  src: url(/_next/static/media/Poppins-Thin.605324f7.ttf);
  font-weight: 100; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-200";
  src: url(/_next/static/media/Poppins-ExtraLight.9102fb84.ttf);
  font-weight: 200; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-300";
  src: url(/_next/static/media/Poppins-Light.8b20023e.ttf);
  font-weight: 300; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-400";
  src: url(/_next/static/media/Poppins-Regular.4b4ebe20.ttf);
  font-weight: 400; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-500";
  src: url(/_next/static/media/Poppins-Medium.a52d0bf0.ttf);
  font-weight: 500; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-600";
  src: url(/_next/static/media/Poppins-SemiBold.98512bf8.ttf);
  font-weight: 600; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-700";
  src: url(/_next/static/media/Poppins-Bold.8001a01b.ttf);
  font-weight: 700; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-800";
  src: url(/_next/static/media/Poppins-ExtraBold.7572a9b5.ttf);
  font-weight: 800; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
@font-face {
  font-family: "Poppins-900";
  src: url(/_next/static/media/Poppins-Black.a7317f18.ttf);
  font-weight: 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
}
html {
  font-family: "Inter-VariableFont_opsz", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

body {
  box-sizing: border-box;
  margin: 0px;
  background-color: #1048b6;
}

p {
  line-height: 1.4rem;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/layout.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.layout_main__KhA0t {
  display: flex;
  flex-direction: column;
}
