/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/loading.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.loading_loading__pROtN {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: #1058e2;
  flex-direction: column;
}
.loading_loading__pROtN h1 {
  position: absolute;
  bottom: 50px;
}
.loading_loading__pROtN svg {
  position: relative;
  width: 500px !important;
}

.loading_loader__mPq4z {
  position: absolute;
  width: 520px;
  height: 520px;
  border: 10px solid #fff;
  border-bottom-color: #ff914c;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: loading_rotation__bx6lx 2s linear infinite;
}

@keyframes loading_rotation__bx6lx {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 760px) {
  .loading_loading__pROtN svg {
    width: 180px !important;
  }
  .loading_loading__pROtN h1 {
    font-size: 1.5rem;
    bottom: 20%;
  }
  .loading_loader__mPq4z {
    width: 200px;
    height: 200px;
  }
}
