@use '../../../../styles/mixin.scss' as mixin;
.hero {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: relative;

}
.image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: left bottom;
  @include mixin.phone800px{
    display: none;
  }
}
.imageMobile {
  display: none;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: left bottom;
  @include mixin.phone800px{
    display: flex;
  }
}

