@use '../../../styles/mixin.scss' as mixin;
@import '../../../styles/fonts.scss';
.containerCol {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.rowBox {
  box-sizing: border-box;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  @include mixin.pc1450px {
    gap: 1rem;
  }
  @include mixin.phone700px {
    padding: 2rem;
  }
}
.columnBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  @include mixin.pc1450px {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  ul {
    list-style-type: '\2B50';
    // margin: 0 0 0 20px;
    margin-top: 0;
    padding: 0;
    transition: all 0.5s;
    li {
      font-weight: 500;
      font-size: 1rem;
      font-family: 'poppins-400';
      margin: 0.5rem 0;
      padding: 0;
      line-height: 1.4rem;
    }
  }
}
