@use '../../../styles/mixin.scss' as mixin;
@use '../../../styles/colors.scss' as colors;
@import '../../../styles/fonts.scss';
.containerCol {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.rowBox {
  box-sizing: border-box;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  @include mixin.pc1450px {
    gap: 1rem;
  }
  @include mixin.phone700px {
    padding: 1rem;
  }
}
.cardBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 15px;
  width: 500px;
  h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 100px;
    background-color: #ff914c;
    border-bottom: 2px solid white;
    text-align: center;
    @include mixin.pc1250px {
      box-sizing: border-box;
      width: 100%;
      height: auto;
      padding: 0.5rem;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0rem;
    li {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid colors.$basicWhite;
      // padding: .5rem 1rem;
      font-size: 0.9rem !important;
      .header {
        background-color: colors.$basicWhite;
        color: colors.$basicOrange;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid colors.$lightBlue;
      }
      .text {
        padding: 0.5rem 1rem;
      }
    }
    li:last-child {
      border-bottom: none;
    }
  }
}
.columnBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  gap: 1rem;
  @include mixin.pc1450px {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  ul {
    list-style-type: '\2B50';
    // margin: 0 0 0 20px;
    margin-top: 0;
    padding: 0;
    transition: all 0.5s;
    text-align: center;
    width: fit-content;
    li {
      text-align: center;
      font-weight: 500;
      font-size: 1rem;
      font-family: 'poppins-400';
      margin: 0.5rem 0;
      padding: 0;
      line-height: 1.4rem;
    }
  }
}
