@use '../../../../styles/colors.scss' as colors;
@use '../../../../styles/mixin.scss' as mixin;
.selectedPhoto {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.719);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  @include mixin.pc1000px {
    display: none;
  }
}
.portrait {
  position: relative;
  width: 680px;
  height: 800px;
  border-radius: 15px;
  border-top-right-radius: 0px;
  img {
    object-fit: cover;
    width: 680px;
    height: 800px;
    border-radius: 15px;
    border-top-right-radius: 0px;
  }
}
.landscape {
  position: relative;
  width: 1200px;
  height: 676px;
  border-radius: 15px;
  border-top-right-radius: 0px;
  @include mixin.pc1450px {
    width: 80%;
    max-height: 80vh;
  }
  img {
    object-fit: cover;
    width: 1200px;
    height: 676px;
    border-radius: 15px;
    border-top-right-radius: 0px;
    @include mixin.pc1450px {
      width: 100%;
      height: 100%;
    }
  }
}
