@use '../../../../styles/mixin.scss' as mixin;
@use '../../../../styles/colors.scss' as colors;
.box {
  gap: 1rem;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  z-index: 3;
  display: flex;
  flex-direction: column;
  @include mixin.phone900px {
    align-items: center;
  }
  @include mixin.phone800px {
    width: 100%;
    padding: 0;
  }
}

.h1Title,
.h1Title2 {
  text-align: left;
}
.h1Title2 {
  padding-left: 1rem;
  padding-bottom: 2rem;
  @include mixin.pc1250px {
    padding-bottom: 0;
    padding-left: 3rem;
  }
}
.h2Title {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  text-align: left;
}
.h4Title {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  text-align: center;
  @include mixin.phone900px {
    text-align: center;
  }
}

.scrapBox {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  justify-content: center;
  @include mixin.phone800px {
    justify-content: center !important;
  }
}
.scrapText {
  display: flex;
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  height: fit-content;
  width: fit-content;
  text-align: center;
  @include mixin.pc1250px {
    padding: 0.5rem 1rem;
  }
  @include mixin.phone500px {
    padding: 0.3rem 0.5rem;
  }
}
.scrapLeft {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  width: 20px;
}
.scrapRight {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 20px;
}

.basicOrange {
  .scrapText {
    background-color: colors.$basicOrange;
  }
  .scrapLeft {
    background-image: url('../../../../public/assets/ui/ScrapLeft/scrapLeftBasicOrange.svg');
  }
  .scrapRight {
    background-image: url('../../../../public/assets/ui/ScrapRight/scrapRightBasicOrange.svg');
  }
}

.basicBrown {
  .scrapText {
    background-color: colors.$basicBrown;
  }
  .scrapLeft {
    background-image: url('../../../../public/assets/ui/ScrapLeft/scrapLeftBasicBrown.svg');
  }
  .scrapRight {
    background-image: url('../../../../public/assets/ui/ScrapRight/scrapRightBasicBrown.svg');
  }
}

.basicGreen {
  .scrapText {
    background-color: colors.$basicGreen;
  }
  .scrapLeft {
    background-image: url('../../../../public/assets/ui/ScrapLeft/scrapLeftBasicGreen.svg');
  }
  .scrapRight {
    background-image: url('../../../../public/assets/ui/ScrapRight/scrapRightBasicGreen.svg');
  }
}

.darkBlue {
  .scrapText {
    background-color: colors.$darkBlue;
  }
  .scrapLeft {
    background-image: url('../../../../public/assets/ui/ScrapLeft/scrapLeftDarkBlue.svg');
  }
  .scrapRight {
    background-image: url('../../../../public/assets/ui/ScrapRight/scrapRightDarkBlue.svg');
  }
}

.lightBlue {
  .scrapText {
    background-color: colors.$lightBlue;
  }
  .scrapLeft {
    background-image: url('../../../../public/assets/ui/ScrapLeft/scrapLeftLightBlue.svg');
  }
  .scrapRight {
    background-image: url('../../../../public/assets/ui/ScrapRight/scrapRightLightBlue.svg');
  }
}

.mediumBlue {
  .scrapText {
    background-color: colors.$mediumBlue;
  }
  .scrapLeft {
    background-image: url('../../../../public/assets/ui/ScrapLeft/scrapLeftMediumBlue.svg');
  }
  .scrapRight {
    background-image: url('../../../../public/assets/ui/ScrapRight/scrapRightMediumBlue.svg');
  }
}

.white {
  .scrapText {
    background-color: colors.$white;
  }
  .scrapLeft {
    background-image: url('../../../../public/assets/ui/ScrapLeft/scrapLeftWhite.svg');
  }
  .scrapRight {
    background-image: url('../../../../public/assets/ui/ScrapRight/scrapRightWhite.svg');
  }
}

.winterIce {
  .scrapText {
    background-color: colors.$winterIce;
  }
  .scrapLeft {
    background-image: url('../../../../public/assets/ui/ScrapLeft/scrapLeftWinterIce.svg');
  }
  .scrapRight {
    background-image: url('../../../../public/assets/ui/ScrapRight/scrapRightWinterIce.svg');
  }
}
