@import '../../../styles/colors.scss';
.list {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $lightBlue;
  &__header {
    font-size: 1.5rem !important;
    padding-left: 0rem !important;
    color: white !important;
    font-weight: 700 !important;
    &:hover {
      cursor: pointer;
      background-color: white;
      color: $lightBlue !important;
    }
  }
  ul {
    list-style-type: none;
    min-width: 50%;
    border: 3px solid $blueStrokeOpacity;
    padding: 2rem;
    li {
      box-sizing: border-box;
      font-size: 1rem;
      color: #bcd0f6;
      font-weight: 600;
      border-bottom: 2px solid $blueStrokeOpacity;
      padding: 0.5rem 0rem 0.3rem 2rem;
      transition: background-color 1s;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        background-color: white;
        color: $lightBlue;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .list {
    &__header {
      font-size: 1.3rem !important;
    }
    ul {
      border: none;
      li {
        font-size: 0.9rem;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .list {
    &__header {
      font-size: 1.2rem !important;
    }
    ul {
      li {
        font-size: 0.8rem;
      }
    }
  }
}
