@use '../../../styles/colors.scss' as colors;
@use '../../../styles/mixin.scss' as mixin;
.list {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: colors.$lightBlue;

  ul {
    list-style-type: none;
    min-width: 50%;
    border: 3px solid colors.$blueStrokeOpacity;
    padding: 2rem;
    @include mixin.phone700px {
      border: none;
    }
    li {
      box-sizing: border-box;
      font-size: 1rem;
      color: #bcd0f6;
      font-weight: 600;
      border-bottom: 2px solid colors.$blueStrokeOpacity;
      padding: 0.5rem 0rem 0.3rem 2rem;
      transition: background-color 1s;
      text-transform: uppercase;
      @include mixin.phone700px {
        font-size: 0.9rem;
      }
      @include mixin.phone500px {
        font-size: 0.7rem;
      }
      &:hover {
        cursor: pointer;
        background-color: white;
        color: colors.$lightBlue;
      }
    }
  }
}
.header {
  font-size: 1.5rem !important;
  padding-left: 0rem !important;
  color: white !important;
  font-weight: 700 !important;
  @include mixin.phone700px {
    font-size: 1.3rem !important;
  }
  @include mixin.phone500px {
    font-size: 1rem !important;
  }
  &:hover {
    cursor: pointer;
    background-color: white;
    color: colors.$lightBlue !important;
  }
}
