$lightBlue: #1058e2;
$mediumBlue: #1048b6;
$darkBlue: #053490;
$lightBlue-text: #669ad7;
$basicWhite-text: #ffffff;
$basicWhite-text-opacity-17: rgba(255, 255, 255, 0.17);
$basicOrange: #ff914c;
$darkOrange: #f4731c;
$basicBrown: #764c24;
$basicGreen: #25924f;
$blueStrokeOpacity: #3873e7;
$winterIce: #0f48b745;
$basicWhite: #ffffff;
$white: #ffffff;