@font-face {
  font-family: 'RobotoFlex';
  src: url('../app/fonts/RobotoFlex-Regular.woff2') format('woff2');
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../app/fonts/inter/Inter-Regular.woff2') format('woff2');
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
  font-display: swap;
}
@font-face {
  font-family: 'Inter-Italic';
  src: url('../app/fonts/inter/Inter-Italic.woff2') format('woff2');
  font-weight: 100 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-500';
  src: url('../app/fonts/poppins/Poppins-Medium.woff2') format('woff2');
  font-weight: 500; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-600';
  src: url('../app/fonts/poppins/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-700';
  src: url('../app/fonts/poppins/Poppins-Bold.woff2') format('woff2');
  font-weight: 700; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-800';
  src: url('../app/fonts/poppins/Poppins-ExtraBold.woff2') format('woff2');
  font-weight: 800; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-900';
  src: url('../app/fonts/poppins/Poppins-Black.woff2') format('woff2');
  font-weight: 900; /* Zakres wagi dla fontu zmiennego */
  font-optical-sizing: auto; /* Automatyczne dostosowanie rozmiaru optycznego */
  font-display: swap;
}
