@use '../../../../styles/mixin.scss' as mixin;
@use '../../../../styles/colors.scss' as colors;
@import '../../../../styles/fonts.scss';

.galleryLink {
  padding: 4rem 0 5rem 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  @include mixin.phone700px {
    padding: 4rem 0 2rem 0;
  }
  &:hover {
    .scrapLeft,
    .scrapRight,
    .textBox,
    .text {
      opacity: 1;
    }
    .textBox {
      visibility: visible;
      width: 700px;
      @include mixin.pc1000px {
        width: 500px;
      }
      @include mixin.phone700px {
        width: 300px;
      }
      @include mixin.phone500px {
        width: 280px;
      }
    }
    .text {
      display: flex;
      visibility: visible;
      color: colors.$basicWhite;
      width: 900px;
      @include mixin.pc1000px {
        width: 500px;
      }

      @include mixin.phone700px {
        width: 300px;
      }
      @include mixin.phone500px {
        width: 280px;
      }
    }
  }
}
.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  @include mixin.phone700px {
    height: 200px;
    object-position: left;
  }
}
.textContainer {
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  transition: all 0.5s;
  @include mixin.phone700px {
    top: 8%;
  }
  .scrapRight {
    height: 101px;
    transform: rotate(180deg);
    width: 20px;
    object-fit: cover;
    object-position: left;
    opacity: 0;
    transition: all 0.1s;
    @include mixin.pc1000px {
      height: 81px;
    }
    @include mixin.phone700px {
      height: 50px;
      opacity: 1;
    }
  }
  .textBox {
    box-sizing: border-box;

    background: colors.$basicOrange;

    height: 100px;
    width: 0%;
    padding: 1rem;

    opacity: 0;
    transition: all 1s;
    @include mixin.pc1000px {
      height: 80px;
    }
    @include mixin.phone700px {
      height: 50px;
      padding: 0.5rem;
      opacity: 1;
      width: 300px;
    }
    @include mixin.phone500px {
      width: 280px;
    }
  }
  .text {
    padding-left: 0.5rem;
    font-family: 'poppins-700';
    font-size: 2rem;
    opacity: 0;
    display: none;
    visibility: hidden;
    transition: all 0.2s 1.3s;
    color: transparent;
    @include mixin.pc1000px {
      font-size: 1.5rem;
    }
    @include mixin.phone700px {
      display: flex;
      font-size: 1rem;
      visibility: visible;
      opacity: 1;
      width: 300px;
      color: colors.$basicWhite;
    }
    @include mixin.phone500px {
      width: 280px;
    }
  }
}
