@import "../../../styles/colors.scss";
.trainers {
  display: flex;
  position: relative;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: $darkBlue;
  height: auto;
  width: 100%;
  align-items: center;
  padding-bottom: 2rem;
  &__about-container {
    width: 40%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 5rem;
  }
  &__trainers-gallery {
    z-index: 1;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 50%;
    gap: 1rem;
    align-items: center;
  }
}
@media only screen and (max-width: 1520px) {
  .trainers {
    flex-direction: column;
    align-items: flex-start;
    &__about-container {
      width: 100%;
    }
    &__trainers-gallery {
      width: 100%;
      padding: 4rem;
    }
  }
}
@media only screen and (max-width: 600px) {
  .trainers__about-container {
    gap: 3rem;
    padding: 2rem;
  }
  .trainers__trainers-gallery {
    padding: 2rem;
  }
}
@keyframes moveTop {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-70%);
    opacity: 0;
  }
}
.bubbles {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bubbles svg {
  height: 100%;
  g {
    display: block;
    animation-name: moveTop;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &:nth-of-type(1) {
      animation-delay: 0.1s;
    }
    &:nth-of-type(2) {
      animation-delay: 0.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.3s;
    }
    &:nth-of-type(4) {
      animation-delay: 0.4s;
    }
    &:nth-of-type(5) {
      animation-delay: 0.5s;
    }
    &:nth-of-type(6) {
      animation-delay: 0.6s;
    }
    &:nth-of-type(7) {
      animation-delay: 0.7s;
    }
    &:nth-of-type(8) {
      animation-delay: 0.8s;
    }
    &:nth-of-type(9) {
      animation-delay: 0.9s;
    }
    &:nth-of-type(10) {
      animation-delay: 2s;
    }
    &:nth-of-type(11) {
      animation-delay: 2.1s;
    }
    &:nth-of-type(12) {
      animation-delay: 2.2s;
    }
    &:nth-of-type(13) {
      animation-delay: 2.3s;
    }
    &:nth-of-type(14) {
      animation-delay: 2.4s;
    }
    &:nth-of-type(15) {
      animation-delay: 2.5s;
    }
    &:nth-of-type(16) {
      animation-delay: 2.6s;
    }
    &:nth-of-type(17) {
      animation-delay: 2.7s;
    }
    &:nth-of-type(18) {
      animation-delay: 2.8s;
    }
    &:nth-of-type(19) {
      animation-delay: 2.9s;
    }
  }
}
// @media only screen and (max-width: 700px) {
//   .bubbles svg {
//     height: 200px;
//   }
// }
// @media only screen and (max-width: 500px) {
//   .bubbles svg {
//     height: 150px;
//   }
// }
